.spinner-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(3, 3, 33, 0.2);

  &.screen {
    position: absolute;
    top: 0;
    left: 0;
  }
}
