@import "swiper/css";
@import "swiper/css/autoplay";
@import "@ionic/react/css/ionic-swiper.css";

.slides {
  padding-inline: 30px;
  padding-bottom: 5px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 1vh;
      margin-top: 1vh;
      text-align: center;
    }

    p {
      text-align: center;
      color: var(--ion-color-secondary);
    }

    img {
      height: auto;
      margin-bottom: 2vh;
      border-radius: 16px;
    }
  }

  // Style the pagination
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
  }

  .page-indicator,
  .page-indicator-active {
    margin: 0 0.25rem;
    background: var(--ion-color-dark-grey);
    opacity: 0.5;
    width: 15px;
    height: 15px;
    border-radius: 8px;
  }
  .play-container {
    position: absolute;
    right: 0;
  }
  .play-indicator {
    color: var(--ion-color-dark-grey);
    width: 33px;
    height: 33px;
    transition: transform 0.3s ease-out;
  }
  .play-indicator.clicked {
    transform: scale(1.2);
  }

  .page-indicator-active {
    width: 30px !important;
    opacity: 1 !important;
    transition: width 1s;
  }

  .text-fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .text-fadein-down {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
