@import "swiper/css";
@import "swiper/css/autoplay";
@import "@ionic/react/css/ionic-swiper.css";

.slides {
  height: 70%;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      text-align: center;
      color: var(--ion-color-secondary);
    }

    img,
    svg {
      height: auto !important;
      width: 62vw !important;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
  }

  .page-indicator,
  .page-indicator-active {
    margin: 0 0.25rem;
    background: var(--ion-color-dark-grey);
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }
  .play-container {
    position: absolute;
    right: 1.26rem;
  }
  .play-indicator {
    color: var(--ion-color-dark-grey);
    width: 33px;
    height: 33px;
    transition: transform 0.3s ease-out;
  }
  .play-indicator.clicked {
    transform: scale(1.2);
  }

  .page-indicator-active {
    width: 30px !important;
    opacity: 1 !important;
    transition: width 1s;
  }

  .text-fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .text-fadein-down {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
