@import "swiper/css";
@import "swiper/css/autoplay";
@import "@ionic/react/css/ionic-swiper.css";

.slides-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .slides {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin-bottom: 0.5rem;
        text-align: center;
      }

      p {
        text-align: center;
        color: var(--ion-color-secondary);
        padding-inline: 1.88rem;
      }

      img,
      svg {
        height: auto !important;
        width: calc(var(--scale-w) * 62) !important;
      }

      @media screen and (min-height: 300px) and (max-height: 600px) {
        img,
        svg {
          height: auto !important;
          width: calc(var(--scale-w) * 55) !important;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    margin: 0.25rem 0;
  }

  .page-indicator,
  .page-indicator-active {
    margin: 0 0.25rem;
    background: var(--ion-color-dark-grey);
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }
  .play-container {
    position: absolute;
    right: 1.26rem;
  }
  .play-indicator {
    color: var(--ion-color-dark-grey);
    width: 33px;
    height: 33px;
    transition: transform 0.3s ease-out;
  }
  .play-indicator.clicked {
    transform: scale(1.2);
  }

  .page-indicator-active {
    width: 30px !important;
    opacity: 1 !important;
    transition: width 1s;
  }

  .text-fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .text-fadein-down {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(50px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -50px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
