.notification-details-credential-request-info {
  & .page-header {
    ion-toolbar {
      --background: transparent;
      margin-top: 0.625rem;
    }
  }

  .threshold {
    display: flex;
    justify-content: space-between;
  }

  .credential-content {
    margin-top: 1rem;

    .alert {
      margin: 0 0 1.5rem 0;
    }

    .proposed-cred {
      .card-details-info-block-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-icon {
          color: var(--ion-color-neutral-700);
          font-size: 1.25rem;
        }
      }
    }

    .missing-proposed-cred-info {
      background-color: rgba(var(--ion-color-warning-800-rgb), 0.1);
      margin: 4px 0 1.5rem 0;
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;

      p {
        text-align: left;
      }

      ion-icon {
        color: var(--ion-color-warning-800);
      }
    }

    .request-from-content {
      display: flex;
      align-items: center;
      padding: 0.25rem 0.25rem;

      & > .fallback-logo {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2.5rem;
        margin-right: 0.5rem;
      }
    }

    .card-details-info-block {
      margin-bottom: 1.5rem;
    }

    .card-details-info-block:last-child {
      margin-bottom: 0;
    }

    .missing-proposed-cred {
      margin-bottom: 0;

      .card-details-info-block-inner {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }

    .requested-credential {
      padding: 0.75rem 0.25rem;
      display: block;
    }

    .request-data {
      .card-details-info-block-inner {
        padding: 1.25rem 1.5rem;
      }
    }
  }

  .credential-request-footer {
    padding: 1rem 0;
  }

  .page-footer {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .credential-content {
      margin-top: 1rem;

      .requested-credential {
        font-size: 0.8rem;
        padding: 0.5rem 0.25rem;
        display: block;
      }

      .request-data {
        .card-details-info-block-inner {
          padding: 1rem 1.5rem;
        }
      }

      .card-details-info-block {
        margin-bottom: 1.5rem;
      }

      .card-details-info-block:last-child {
        margin-bottom: 0;
      }

      .missing-proposed-cred {
        margin: 0;
      }
    }
  }
}
