.notification-details-credential-choose {
  & .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .title {
    font-size: 1rem;
    line-height: 1.115rem;
    font-weight: 500;
    text-align: center;
  }

  .info-icon {
    color: var(--ion-color-neutral-700);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
  }

  .checkbox {
    width: fit-content;
    --checkbox-background-checked: var(--ion-color-primary-700);
    --checkmark-color: var(--ion-color-primary-100);
    --border-width: 0.115rem;

    &.checkbox-checked {
      --border-width: 0;
    }
  }

  .card-item {
    --background-activated: transparent;
  }

  .card-details-info-block-inner {
    background: var(--ion-color-neutral-300);
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

    .disclaimer-icon {
      width: 1.5rem;
      height: 1.5rem;

      ion-icon {
        color: var(--ion-color-neutral-700);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .card-info {
    margin-right: 0.25rem;
  }

  .credential-request-footer {
    padding: 1rem 0;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .title {
      font-size: 0.85rem;
      margin-bottom: 1.5rem;
    }

    .checkbox {
      --size: 1.25rem;
    }
  }

  .item-action {
    display: flex;
    align-items: center;
  }
}

.members-modal {
  .threshold {
    display: flex;
    justify-content: space-between;

    & > ion-text {
      padding: 0.75rem 0.25rem;
      display: block;
    }
  }
}
