.connection-search-input {
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  margin-bottom: 0 !important;
  --background: var(--ion-color-neutral-300);

  &.md {
    margin-top: 0.75rem !important;
  }

  .searchbar-cancel-button {
    font-weight: 700;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;

    .searchbar-cancel-button {
      font-size: 0.95rem;
    }

    &.md {
      margin-top: 0.5rem !important;
    }
  }
}

.connections-body {
  .alphabet-selector {
    transition: all 0.25s;

    .active {
      transform: scale(2);
    }
  }

  &.keyboard {
    .alphabet-selector {
      justify-content: start;
      transform-origin: top;
    }
  }
}
