ion-modal.archived-credentials-modal {
  display: flex;
  flex-direction: column;
  justify-content: end;
  --height: auto;

  &::part(content) {
    height: 100%;
  }

  p *:nth-child(2) {
    margin-left: 0.5rem;
  }

  ion-toolbar {
    --min-height: 4rem;

    h2 {
      margin: 0 auto;
    }

    &.md {
      ion-buttons {
        min-width: calc(var(--scale-w) * 14);
      }

      ion-title {
        width: auto;
      }
    }
  }

  .close-button-label,
  .action-button-label,
  .delete-credentials-label,
  .restore-credentials-label,
  .selected-amount-credentials-label {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    --opacity: 1;

    &::part(native) {
      padding: 0;
    }
  }

  .close-button-label,
  &.active-list .action-button-label {
    color: var(--ion-color-secondary) !important;
  }

  .action-button-label,
  .restore-credentials-label {
    color: var(--ion-color-action-blue) !important;
  }

  .delete-credentials-label {
    color: var(--ion-color-danger) !important;
  }

  .archived-credentials-list {
    background: transparent;

    ion-item {
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
        background: var(--ion-color-light);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-dark-grey);
      }

      &.item-checkbox-checked::part(native) {
        background: white;
      }
    }

    ion-grid {
      padding: 0;

      ion-row {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &.credential-selector {
            max-width: 2.75rem;
            height: 2.75rem;

            ion-checkbox {
              --size: 2rem;
              --background-checked: transparent;
              --checkmark-color: var(--ion-color-primary);
            }
          }

          &.credential-color {
            max-width: 4rem;
            height: 2.75rem;
            border-radius: 0.25rem;
          }

          &.credential-info {
            padding: 0;
            margin-left: 0.94rem;

            .credential-name {
              font-size: 1rem;
              font-weight: 500;
              color: var(--ion-color-primary);
              margin-bottom: 0.31rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .credential-expiration {
              font-size: 0.875rem;
              font-weight: 400;
              color: var(--ion-color-secondary);
            }
          }
        }
      }
    }
  }

  .archived-credentials-footer {
    position: fixed;
    -webkit-transform: translateZ(0); // Required for iOS/Safari with fixed pos
    bottom: 0%;
    left: 0;
    padding-inline: 1.25rem;

    ion-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .selected-amount-credentials-label {
        text-align: center;
      }
    }
  }
}
