ion-modal.archived-credentials-modal {
  display: flex;
  flex-direction: column;
  justify-content: end;
  --height: auto;

  &::part(content) {
    height: 100%;
  }

  .archived-credentials-content {
    background: var(--ion-color-neutral-200);
  }

  .list-header {
    margin-bottom: 0.75rem;
  }

  ion-toolbar {
    --min-height: 4rem;
    --opacity: 0;
    background: var(--ion-color-neutral-200);

    h2 {
      margin: 0 auto;
    }

    &.md {
      ion-buttons {
        min-width: 14vw;
      }

      ion-title {
        width: auto;
      }
    }
  }

  .close-button-label,
  .action-button-label,
  .delete-credentials-label,
  .restore-credentials-label,
  .selected-amount-credentials-label {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    --opacity: 1;

    &::part(native) {
      padding: 0;
    }
  }

  .close-button-label,
  .active-list .action-button-label {
    color: var(--ion-color-neutral-700);
  }

  ion-header .action-button-label p,
  ion-footer .restore-credentials-label {
    color: var(--ion-color-primary-700) !important;
  }

  .delete-credentials-label {
    color: var(--ion-color-error-800) !important;
  }

  .archived-credentials-list {
    background: transparent;

    &.all-border {
      ion-item-sliding {
        border-bottom: 1px solid var(--ion-color-neutral-300);
      }
    }

    ion-item-sliding {
      --inner-padding-end: 0;

      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-neutral-300);
      }

      ion-item {
        &::part(native) {
          padding: 0;
          background: transparent;
        }

        &.selected-credential::part(native) {
          background: var(--ion-color-neutral-100);
        }

        ion-checkbox {
          flex: none;
          --size: 2rem;
          width: 2rem;
          margin: 0 1rem 0 0.375rem;
          align-self: center;

          &.checkbox-checked {
            --checkbox-background-checked: var(--ion-color-primary-700);
            --checkmark-color: var(--ion-color-primary-100);

            &::part(container) {
              border: 0;
            }
          }
        }
      }

      ion-label {
        margin: 0;
        display: flex;
        flex-direction: row;
        --vertical-spacing: 1rem;

        .credential-miniature {
          height: 2.5rem;
          border-radius: 0.25rem;
          overflow: hidden;
          min-width: 4.375rem;
          width: 4.375rem;
          margin: var(--vertical-spacing) 0;
        }

        .credential-info {
          padding: 0;
          margin: var(--vertical-spacing) 0 var(--vertical-spacing) 0.94rem;

          .credential-name {
            font-size: 1rem;
            font-weight: 500;
            color: var(--ion-color-neutral-800);
            margin-bottom: 0.31rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .credential-expiration {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--ion-color-neutral-700);
          }

          .revoked-label {
            color: var(--ion-color-error-800);
            text-transform: uppercase;
          }

          .dot {
            margin: 0 0.25rem;
          }
        }
      }
    }
  }

  .archived-credentials-footer {
    position: fixed;
    -webkit-transform: translateZ(0); // Required for iOS/Safari with fixed pos
    bottom: 0%;
    left: 0;
    padding-inline: 1.25rem;

    ion-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .selected-amount-credentials-label {
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .archived-credentials-list ion-item-sliding {
      ion-label {
        --vertical-spacing: 0.75rem;

        ion-checkbox {
          --size: 1.6rem;
          width: 1.6rem;
          margin: 0 0.8rem 0 0.3rem;
        }

        .credential-info {
          margin-left: 0.752rem;

          .credential-name,
          .credential-expiration {
            font-size: 0.8rem;
          }
        }
      }
    }

    ion-item-sliding ion-item-options ion-item-option {
      font-size: 0.8rem;
    }

    ion-toolbar.page-footer {
      ion-buttons ion-button,
      .selected-amount-credentials-label {
        font-size: 0.8rem;
      }
    }
  }
}
