.archived-credentials {
  .close-button-label,
  .action-button-label {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    --opacity: 1;

    &::part(native) {
      padding: 0;
    }
  }

  .close-button-label {
    color: var(--ion-color-secondary) !important;
  }

  .action-button-label {
    color: var(--ion-color-action-blue) !important;
  }

  .archived-credentials-list {
    background: transparent;

    ion-item {
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
        background: var(--ion-color-light);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-dark-grey);
      }
    }

    ion-grid {
      padding: 0;

      ion-row {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &.credential-color {
            max-width: 4rem;
            height: 2.75rem;
            border-radius: 0.25rem;
          }

          &.credential-info {
            padding: 0;
            margin-left: 0.94rem;

            .credential-name {
              font-size: 1rem;
              font-weight: 500;
              color: var(--ion-color-primary);
              margin-bottom: 0.31rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .credential-expiration {
              font-size: 0.875rem;
              font-weight: 400;
              color: var(--ion-color-secondary);
            }
          }
        }
      }
    }
  }
}
