.view-identifier-modal-content {
  .close-button-label {
    color: var(--ion-color-primary);
  }

  & .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .identifiers-options-inner {
    overflow: scroll;
    height: calc(
      calc(var(--scale-h) * 80) - (11.5rem + env(safe-area-inset-bottom))
    );
  }

  .footer-col ion-button {
    --color-selected: white !important;

    &:first-child {
      margin-bottom: 0.63rem;
    }

    ion-icon {
      margin-right: 0.5rem;
    }
  }

  pre {
    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    @media screen and (min-width: 250px) and (max-width: 370px) {
      font-size: 0.8rem;
    }
  }
}
