@import "swiper/css";
@import "@ionic/react/css/ionic-swiper.css";

.crypto-balance {
  padding-inline: 30px;
  margin-top: 13vh;
  text-align: center;

  .account-network {
    display: inline-flex;
    padding: 0.3125rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 1rem;
    color: var(--ion-color-light);
    background: rgba(var(--ion-color-primary-rgb), 0.5);
    margin-bottom: 2.19rem;
    min-height: 2rem;
    min-width: 6rem;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slide-title,
    .slide-fiatbalance,
    .slide-nativebalance {
      > * {
        color: var(--ion-color-primary);
        vertical-align: middle;
      }
    }

    .slide-title {
      margin-bottom: 0.63rem;

      ion-icon {
        margin-left: 0.62rem;
      }
    }

    .slide-fiatbalance {
      margin-bottom: 1.56rem;
    }

    .slide-nativebalance {
      padding: 0.3125rem 0.625rem;
      background-color: var(--ion-color-light-grey);
      border-radius: 0.5rem;

      ion-icon {
        margin-right: 0.3rem;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.12rem;
  }
}
