.creds-tab {
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .archived-credentials-button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 3rem 0 0.5rem 0;

      ion-button {
        margin: 0 auto;
        --border-radius: 0.5rem;

        &::part(native) {
          padding: 0.625rem 1rem;
        }
      }
    }
  }
}

.cred-nav-animation {
  .tab-header {
    ion-button {
      transform: scale(0);
      transition: transform 0.25s;
      transition-delay: 0.1s;
    }

    ion-title h2 {
      width: fit-content;
      transform: scale(0);
      transition: transform 0.25s;
      transition-delay: 0.1s;
    }
  }
}
