.recovery-seedphrase-docs-modal {
  .info-card {
    margin-top: 0.25rem;
  }

  .document-section {
    .image {
      margin: 0.75rem auto 0;
      display: block;
    }

    .content {
      margin: 0.75rem 0 0;
      font-weight: 500;
    }
  }
}
