:root {
  --ion-color-primary: #030321;
  --ion-color-primary-rgb: 3, 3, 33;
  --ion-color-secondary: #363c4a;
  --ion-color-secondary-rgb: 54, 60, 74;
  --ion-color-light: #f6f6f6;
  --ion-color-danger: #d41630;
  --ion-color-danger-rgb: 212, 24, 48;
  --ion-text-color: var(--ion-color-primary);
  --ion-text-color-rgb: var(--ion-color-primary-rgb);
  --ion-color-light-grey: #eeeeee;
  --ion-color-medium-grey: #d9d9d9;
  --ion-color-dark-grey: #bbbbbb;
  --ion-color-dark-grey-rgb: 187, 187, 187;
  --ion-color-green: #438f68;
  --ion-color-dark-green: #377657;
  --ion-color-light-green: #92ffc0;
  --ion-color-blue: #017eff;
  --ion-color-action-blue: #0066cc;
  --ion-color-transparent: transparent;

  --ion-color-primary-gradient: linear-gradient(
    94.29deg,
    #92ffc0 20.19%,
    #00a5e6 119.98%
  );

  --ion-color-gradient-blue: linear-gradient(
    91.86deg,
    #00a5e6 28.76%,
    #0075a3 119.14%
  );

  --ion-color-gradient-green: linear-gradient(
    91.86deg,
    #92ffc0 28.76%,
    #47ff94 119.14%
  );

  --ion-color-gradient-w3c-card: linear-gradient(
    108deg,
    #1572a1 0%,
    #0c405a 100%
  );

  --ion-color-gradient-residency-card: linear-gradient(
    108deg,
    #f6f6f6 0%,
    #bbb 100%
  );

  --ion-color-gradient-summit-card: linear-gradient(
    108deg,
    #fc8a3f 0%,
    #1894d7 100%
  );

  --ion-color-gradient-acdc-credential: linear-gradient(
    90.04deg,
    #667745 28.46%,
    #879e54 78.5%,
    #a8c55f 123.53%,
    #b9cf7c 165.71%
  );

  --black: #000;
}

.ion-color-light-grey {
  --ion-color-base: var(--ion-color-light-grey);
}

.ion-color-medium-grey {
  --ion-color-base: var(--ion-color-medium-grey);
}

.ion-color-dark-grey {
  --ion-color-base: var(--ion-color-dark-grey);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
}

.ion-color-dark-green {
  --ion-color-base: var(--ion-color-dark-green);
}

.ion-color-light-green {
  --ion-color-base: var(--ion-color-light-green);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent);
}

.ion-color-primary-gradient {
  --ion-color-base: var(--ion-color-primary-gradient);
}

.ion-color-gradient-blue {
  --ion-color-base: var(--ion-color-gradient-blue);
}

.ion-color-gradient-green {
  --ion-color-base: var(--ion-color-gradient-green);
}
