/* Core CSS required for Ionic components to work properly */
@use '@ionic/react/css/core';

/* Basic CSS for apps built with Ionic */
@use '@ionic/react/css/normalize';
@use '@ionic/react/css/structure';
@use '@ionic/react/css/typography';

/* Optional CSS utils that can be commented out */
@use '@ionic/react/css/padding';
@use '@ionic/react/css/float-elements';
@use '@ionic/react/css/text-alignment';
@use '@ionic/react/css/text-transformation';
@use '@ionic/react/css/flex-utils';
@use '@ionic/react/css/display';
