/* Keeping everything in px instead of rem 
because of compatibility issues with Safari browser */
.smartphone-layout {
  --preview-height: 900px;

  position: relative;
  width: 423px;
  height: 931px;
  zoom: 75%;
  font-size: 14px;
  margin: 2rem auto;
  background: var(--ion-color-secondary);
  border: 16px black solid;
  border-radius: 36px;
  --scale-w: 4px;
  --scale-h: 8px;
  overflow: hidden;

  ion-modal {
    --width: 390px;

    &.verify-passcode {
      --height: var(--preview-height);
    }
  }

  .mobile-header-preview {
    display: flex;
  }

  .tab-layout,
  .scrollable-page-layout,
  .responsive-page-layout {
    padding-top: 45.5px;
  }

  .smartphone-content {
    width: 390px;
    height: var(--preview-height);
    border-radius: 25px;

    .side-panel {
      width: 390px;
      height: 815px;
      position: absolute;
      right: -390px;
      background: var(--ion-color-secondary);
      border-left: 16px black solid;
      z-index: 105;
      top: -2px;
    }
  }
}
