@import "./colors.scss";

body {
  margin: 0;
  --ion-font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: var(--ion-color-light);

  .md {
    text-transform: none;
  }

  &.scanner-active {
    background-color: transparent;

    > div:last-child {
      display: block;
      z-index: -10;
      --background: var(--ion-color-secondary) !important;
      --ion-background-color: var(--ion-color-secondary) !important;
      background-color: var(--ion-color-secondary) !important;

      &.hide {
        display: none;
      }
    }
  }
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  // &.ios {
  //   height: calc(100vh - (6rem + env(safe-area-inset-top)));
  // }

  // &.md {
  //   height: calc(100vh - 6rem);
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--ion-color-primary);
}

h2,
h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.756rem;
  color: var(--ion-color-primary);
}

h3 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.172rem;
}

p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--ion-color-secondary);
}

.primary-button {
  --background: var(--ion-color-primary-gradient);
  --background-activated: var(--ion-color-medium-grey);
}

.secondary-button {
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-medium-grey);
  --border-color: var(--ion-color-dark-grey);
}

.tertiary-button {
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-medium-grey);
}

.primary-button,
.secondary-button,
.tertiary-button {
  font-size: 1rem;
  height: 3.25rem;
  color: var(--ion-color-primary);

  &.button-disabled {
    --background: var(--ion-color-dark-grey);
  }
}

.page-paragraph {
  margin: 0;
}

.continue-col {
  text-align: center;
}

.safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(100% - var(--safe-area-inset-bottom));
}

.seed-phrase-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  ion-chip {
    border-radius: 0.5rem;
    font-weight: 400;
    width: 92%;
    margin: 0.3rem auto;
    padding-inline: 0.475rem;

    .index {
      margin-right: 4px;
    }
  }
}

ion-modal {
  --background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: end;
  --height: auto;

  &::part(content) {
    position: relative;
    border-radius: 1rem 1rem 0 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

.modal {
  padding-inline: 1.25rem;
  background-color: var(--ion-color-light);

  ion-toolbar {
    padding: 0.5rem 0 0 !important;
    height: 4rem;

    ion-title {
      padding: 0;

      h2 {
        margin: 0 auto;
      }
    }
  }

  .action-button-label,
  .close-button-label {
    color: var(--ion-color-primary);
  }
}

.extended-modal::part(content) {
  height: 50rem;
}

.card-details {
  background: var(--ion-color-light-grey);

  .tab-header,
  .card-details-content {
    -webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 0.7s;
  }

  ion-header ion-toolbar {
    ion-button,
    ion-button.md {
      background: var(--ion-color-light);
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .card-details-content > * {
    margin: 1.56rem 0 1rem;
  }

  .card-details-info-block {
    h3 {
      margin: 0.938rem;
      font-weight: 500;
    }
    .card-details-info-block-inner {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 1rem;
      padding: 1.15rem;

      .card-details-info-block-line {
        display: flex;

        > * {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .card-details-info-block-text-icon {
          font-size: 1.125rem;
        }

        .card-details-info-block-icon,
        .card-details-info-block-text-icon {
          margin-right: 0.94rem;
        }

        .card-details-info-block-data {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          --mask: linear-gradient(
            to right,
            rgba(var(--ion-color-secondary-rgb)) 0,
            rgba(var(--ion-color-secondary-rgb)) 85%,
            rgba(0, 0, 0, 0.5) 90%,
            rgba(0, 0, 0, 0) 100%
          );
          -webkit-mask: var(--mask);
          mask: var(--mask);
        }
      }

      ion-button,
      ion-button.md {
        height: 1.7rem;
        margin: 0;
        --background: transparent;
        --box-shadow: none;
        --color: var(--ion-color-secondary);
        --background-activated: var(--ion-color-light-grey);

        ion-icon {
          opacity: 0.5;
        }

        &::part(native) {
          padding: 0;
        }
      }

      ion-icon {
        width: 1.475rem;
        height: 1.475rem;
        margin: 0;
      }
    }
  }

  .delete-button {
    ion-icon {
      margin-right: 0.5rem;
      --ion-color-base: white !important;
    }
  }
}

ion-toast {
  --height: 3.25rem;
  --border-radius: 0.5rem;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);

  &::part(message) {
    text-align: center;
  }

  &.confirmation-toast {
    &::part(message) {
      color: var(--ion-color-light);
    }
  }
}

.qr-code-scanner-full-page {
  ion-header ion-toolbar {
    margin-top: 0.625rem;

    .back-button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light-grey);
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }
}

ion-router-outlet.blur {
  filter: blur(0.1rem);
}
