.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.js @jimcase @iFergal
*.cjs @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

ios/* @jimcase @iFergal
android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

services/* @jimcase @iFergal @jorgenavben
services/credential-server-ui @sdisalvo-crd

src/ui/* @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar
