.scan-tab {
  padding: 0;

  ion-header {
    position: absolute;
    padding-right: 1.25rem;
  }

  ion-grid {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: calc(100vh - (4.5rem + var(--ion-safe-area-top)));

    .qr-code-scanner-icon {
      margin: 0;
    }

    &.ios {
      height: calc(100vh - 5.3rem);
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      height: calc(100vh - (3.5rem + var(--ion-safe-area-top)));

      &.ios {
        height: calc(100vh - 3.6rem);
      }
    }
  }
}
