ion-tab-bar {
  --background: transparent;
  --border: transparent;
  border-top: 1px solid var(--color-dark-grey);
  margin-top: 1px;
  padding-inline: 0.625rem;
  height: 8vh;
  justify-content: space-around;

  &.md {
    padding-bottom: 0.75rem;
  }
}

ion-tab-button {
  max-width: 20%;
  --ripple-color: transparent;

  .borderTop {
    height: 2px;
    width: 65%;
    position: absolute;
    top: 0;
    border-top: 2px solid transparent;
  }

  &.md .borderTop {
    width: 90%;
  }

  &.tab-selected .borderTop {
    border-color: var(--ion-color-primary);
  }

  ion-icon {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  &.md ion-icon {
    font-size: 1.8rem;
  }

  ion-label {
    max-width: 20vw;
    font-size: 0.75rem;
  }
}
