ion-tab-bar {
  --background: var(--ion-color-neutral-200);
  --border: transparent;
  border-top: 1px solid var(--ion-color-neutral-300);
  padding-inline: 0.625rem;
  height: 4.5rem;
  justify-content: space-around;

  ion-tab-button {
    max-width: 20%;
    --ripple-color: transparent;

    &:not(.tab-selected) {
      color: var(--ion-color-neutral-700);

      > *:not(.notifications-counter) {
        opacity: 70%;
      }

      > .icon-container {
        opacity: 1;
        position: relative;
      }

      .notifications-counter {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1rem;
        position: absolute;
        color: var(--ion-color-neutral-100);
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        border: 1px solid var(--ion-color-error-800);
        background: var(--ion-color-error-800);
        opacity: 1;
        z-index: 10;
        position: absolute;
        top: 0.2rem;
        left: 0.85rem;
      }
    }

    &:not(.tab-button-notifications) .notifications-counter {
      display: none;
    }

    .border-top {
      height: 2px;
      width: 65%;
      position: absolute;
      top: 0;
      border-top: 2px solid transparent;
    }

    &.md .border-top {
      width: 90%;
    }

    &.tab-selected {
      color: var(--ion-color-primary-700);

      .border-top {
        border-color: var(--ion-color-primary-700);
      }

      .notifications-counter {
        display: none;
      }
    }

    ion-icon,
    &.md ion-icon {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }

    ion-label {
      max-width: 20vw;
      font-size: 0.75rem;
    }
  }

  @media screen and (min-height: 655px) {
    &.ios {
      padding-bottom: 0.75rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    height: 3.5rem;

    ion-tab-button {
      ion-icon,
      &.md ion-icon {
        margin-top: 0.35rem;
      }

      ion-label {
        font-size: 0.6rem;
      }

      &:not(.tab-selected) .notifications-counter {
        width: 1rem;
        height: 1rem;
        font-size: 0.6rem;
        top: 0.25rem;
        left: 0.75rem;
      }
    }
  }
}
