.password-module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - (5rem + var(--ion-safe-area-top)));

  .learn-more {
    color: var(--ion-color-neutral-700);
    text-decoration: underline;
  }

  .custom-input-optional {
    color: var(--ion-color-neutral-500);
    opacity: 1 !important;
  }

  .open-symbol-modal {
    font-weight: 500;
    color: var(--ion-color-neutral-500);
    display: flex;
    align-items: center;
    line-height: 1.375rem;

    ion-icon {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0.25rem;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      font-size: 0.8rem;
      line-height: 1rem;

      ion-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  & > .page-content {
    & > * {
      margin: 0 auto 1.5rem;
    }

    & > h2 {
      margin: 1rem 0 0.94rem;
    }

    .create-password-input:not(.normal) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    & > .page-content {
      & > * {
        margin: 0 auto 1rem;
      }

      & > h2 {
        margin: 0.5rem 0 0.94rem;
      }
    }
  }

  ion-item.error {
    margin-bottom: 0;
  }

  .error-message-placeholder {
    display: none;
  }

  .error-message {
    text-align: left;
    margin: 0.25rem 0 0.5rem;

    p {
      margin: 0;
    }
  }
}
