.create-password {
  --background: var(--ion-color-light);

  .error-message-placeholder {
    display: none;
  }

  .error-message {
    text-align: left;
  }

  .page-footer {
    margin-top: 3rem;
  }
}
