.create-password {
  .page-header {
    ion-toolbar {
      --background: transparent;
      padding-inline: 0;

      .progress-bar-container {
        margin-left: 0;
      }
    }
  }

  .password-module {
    margin-top: 0.5rem;
  }
}
