.create-password {
  padding-inline: 20px;

  h2 {
    margin: 0 auto;
  }

  ion-item {
    --background: var(--ion-color-light);
    --inner-border-width: 0;

    ion-label[position="stacked"] {
      margin-bottom: 0.625rem;
    }

    ion-input {
      border: 1px solid var(--color-dark-grey);
      border-radius: 8px;
      flex-direction: row-reverse;

      input {
        --padding-top: 0.875rem;
        --padding-bottom: 0.875rem;
        --padding-start: 1.25rem;
      }

      &.has-focus {
        border-color: var(--ion-color-secondary);
      }
    }
  }
}
