.create-password {
  --background: var(--ion-color-light);

  .error-message-placeholder {
    display: none;
  }

  .error-message {
    text-align: left;
  }

  .operations-password-regex {
    padding-bottom: 0;
    background-color: var(--ion-color-light);

    ion-item {
      --background: var(--ion-color-light);
      .password-criteria-icon {
        font-size: 1.1rem;
        padding: 0.2rem;
        margin-right: 0.5rem;
        border-radius: 1.5rem;
        &.fails {
          color: var(--ion-color-secondary);
          background: var(--ion-color-light-grey);
        }
        &.pass {
          color: white;
          background: var(--ion-color-green);
        }
      }

      &::part(native) {
        padding: 0;
      }
    }
  }
}
