.contact-item {

    img {

        border-radius: 500px;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1.5rem;
    }

    ion-label {

        h1 {

            font-size: 1rem;
        }
    }
}
