.connections-tab {
  background: var(--ion-color-light);
  z-index: 102 !important;

  &.show {
    right: 0;
    left: 0;
    width: 100%;
    transition-property: right;
    transition-property: left;
    transition-duration: 1s;
  }

  &.hide {
    right: -100%;
    left: 100%;
    width: 100%;
    transition-property: right;
    transition-property: left;
    transition-duration: 1s;
  }

  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--ion-color-light-grey);
    flex-direction: row;
    justify-content: center;

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  ion-title {
    margin-left: 3.2rem;
  }

  ion-searchbar {
    padding-inline: 0;
  }

  .cards-stack-container {
    height: 90vh;
  }

  .connections-list {
    padding-top: 0;
    background: var(--ion-color-light-grey);

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.3125rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    ion-item,
    ion-item-divider {
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
      }

      --background: var(--ion-color-light);
      border-bottom: 1px solid rgba(var(--ion-color-dark-grey-rgb), 0.5);
    }

    ion-item {
      //height: 4.625rem;
    }

    ion-item-divider {
      height: 3.69rem;
      padding: 0;

      ion-label {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    ion-col {
      &.connection-logo {
        position: relative;

        img {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 2rem;
        }
      }

      &.connection-info {
        .connection-name {
          font-size: 1rem;
          margin-bottom: 0.31rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .connection-date {
          font-size: 0.875rem;
          color: var(--ion-color-secondary);
        }
      }

      ion-chip {
        width: 6.4rem;
        height: 1.9rem;
        font-weight: 400;
        margin: 0.3rem auto;
        border-radius: 0.5rem;
        padding-inline: 0.62rem;

        span {
          text-transform: capitalize;
          margin-right: 4px;
        }
      }
    }
  }
}
