.connections-tab {
  background: var(--ion-color-light);
  z-index: 102 !important;

  &.show {
    right: 0;
    left: 0;
    width: 100%;
    transition-property: right;
    transition-property: left;
    transition-duration: 1s;
  }

  &.hide {
    right: -100%;
    left: 100%;
    width: 100%;
    transition-property: right;
    transition-property: left;
    transition-duration: 1s;
  }

  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--ion-color-light-grey);
    flex-direction: row;
    justify-content: center;

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  ion-title {
    margin-left: 3.2rem;
  }

  ion-searchbar {
    padding-inline: 0;
  }

  .cards-stack-container {
    height: 90vh;
  }
}
