.connections-tab {
  background: var(--ion-color-light);
  z-index: 102 !important;
  padding-inline: 0;
  overflow: initial !important;

  ion-header {
    margin-bottom: -1px;
    padding-inline: 1.25rem;
  }

  .cards-placeholder-container {
    padding-inline: 1.25rem;
  }

  &.show {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.5s;
  }

  &.hide {
    transform: translate3d(100%, 0, 0);
    transition-duration: 0.5s;
  }

  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--ion-color-light-grey);
    flex-direction: row;
    justify-content: center;
  }

  > ion-content {
    overflow: initial;
  }

  ion-searchbar {
    padding: 0 1.25rem;
    height: 3rem;
  }

  .alphabet-selector {
    position: absolute;
    z-index: 10;
    right: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-button {
      width: 1.2rem;
      height: 100%;
      min-height: 1rem;
      margin: 0;
      font-size: 0.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 0.875rem;
      color: var(--ion-color-action-blue);
      --background: transparent;
      --background-activated: transparent;
      --background-focused: transparent;
      --box-shadow: none;

      &::part(native) {
        padding: 0;
      }
    }
  }

  .connections-container {
    height: calc(92vh - (6.813rem + env(safe-area-inset-bottom)));

    > ion-grid {
      padding: 0;

      > ion-row > ion-col {
        padding: 0 0 2rem;
      }
    }

    ion-item-group {
      background: var(--ion-color-light);
    }
  }

  .connections-list {
    padding: 0 1.25rem;
    background: var(--ion-color-light-grey);

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.3125rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    ion-item,
    ion-item-divider {
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
      }

      --background: var(--ion-color-light);
      border-bottom: 1px solid rgba(var(--ion-color-dark-grey-rgb), 0.5);
    }

    ion-item-divider {
      height: 3.69rem;
      padding: 0;

      ion-label {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    ion-col {
      &.connection-logo {
        position: relative;

        img {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 2rem;
        }
      }

      &.connection-info {
        .connection-name {
          font-size: 1rem;
          margin-bottom: 0.31rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .connection-date {
          font-size: 0.875rem;
          color: var(--ion-color-secondary);
        }
      }

      ion-chip {
        width: 6.4rem;
        height: 1.9rem;
        font-weight: 400;
        margin: 0.3rem auto;
        border-radius: 0.5rem;
        padding-inline: 0.62rem;

        span {
          text-transform: capitalize;
          margin-right: 4px;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 375px) {
    ion-header,
    .cards-placeholder-container {
      padding-inline: 1rem;
    }

    ion-searchbar {
      padding: 0 1rem;
      height: 2.4rem;

      .searchbar-input {
        font-size: 0.8rem;
      }

      .searchbar-search-icon {
        width: 1rem;
      }
    }

    .alphabet-selector {
      height: 65vh;

      ion-button {
        font-size: 0.4rem;
        min-height: 0.4rem;
      }
    }

    .connections-container {
      height: 70vh;
    }

    .connections-list {
      padding: 0 1rem;

      ion-row {
        padding: 0.25rem 0;
      }

      ion-item-divider {
        height: 2.952rem;

        ion-label {
          font-size: 0.8rem;
        }
      }

      ion-col {
        &.connection-logo {
          position: relative;

          img {
            width: 2.2rem;
            height: 2.2rem;
          }
        }

        &.connection-info {
          .connection-name {
            font-size: 0.8rem;
            margin-bottom: 0.248rem;
          }

          .connection-date {
            font-size: 0.7rem;
          }
        }

        ion-chip {
          width: 5.12rem;
          height: 1.52rem;
          margin: 0.24rem auto;
          padding-inline: 0.496rem;

          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
}
