.connections {
  padding-inline: 0;

  ion-header.page-header ion-toolbar {
    margin-top: 0.625rem;
    padding-right: 0;
    padding-left: 0;
  }

  ion-header {
    margin-bottom: -1px;
    padding-inline: 1.25rem;
  }

  ion-content.scrollable-page-content {
    --offset-bottom: 1px !important;
    --background: var(--ion-color-light);
  }

  .cards-placeholder-container {
    padding-inline: 1.25rem;
    background: var(--ion-color-light);
  }

  .placeholder-spacer {
    height: 3.5rem;
  }

  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--ion-color-light-grey);
    flex-direction: row;
    justify-content: center;
  }

  > ion-content {
    overflow: initial;
  }

  .page-header {
    height: 3.75rem;
    transition: all 0.25s;
  }

  &.hide-header {
    .page-header {
      opacity: 0;
      height: var(--ion-safe-area-top, 0);
      --min-height: 0;

      & * {
        display: none;
      }
    }

    .connections-list {
      height: calc(100vh - 3.5rem);
    }
  }

  .connections-body {
    display: flex;
    flex-direction: row;
  }

  .alphabet-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-button {
      width: 1.2rem;
      height: 1rem;
      min-height: 1rem;
      margin: 0;
      font-size: 0.625rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1rem;
      color: var(--ion-color-action-blue);
      --background: transparent;
      --background-activated: transparent;
      --background-focused: transparent;
      --box-shadow: none;

      &::part(native) {
        padding: 0;
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      ion-button {
        height: 0.65rem;
        width: 1rem;
        font-size: 0.5rem;
        min-height: 0.8rem;
        line-height: 0.8rem;
      }
    }
  }

  .connections-list {
    height: calc(100vh - 7.4rem);

    > ion-grid {
      padding: 0;

      > ion-row > ion-col {
        padding: 0 0 2rem;
      }
    }

    ion-item-group {
      background: var(--ion-color-light);
    }
  }

  .connections-list-alphabetic-block {
    padding: 0 0 0 1.25rem;

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.3125rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    ion-item,
    ion-item-divider {
      --inner-padding-end: 0;
      --background: var(--ion-color-light);
      border-bottom: 1px solid rgba(var(--ion-color-dark-grey-rgb), 0.5);

      &::part(native) {
        padding: 0;
      }
    }

    ion-item-divider {
      height: 3.69rem;
      padding: 0;

      ion-label {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    ion-chip {
      width: 6.4rem;
      height: 1.9rem;
      font-weight: 400;
      margin: 0.3rem auto;
      border-radius: 0.5rem;
      padding-inline: 0.62rem;

      span {
        text-transform: capitalize;
        margin-right: 4px;
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 375px) {
    ion-header,
    .cards-placeholder-container {
      padding-inline: 1rem;
    }

    .placeholder-spacer {
      height: 2.5rem;
    }

    .page-header {
      height: 3.25rem;
      transition: all 0.25s;
    }

    .connections-list {
      height: calc(100vh - 6.9rem);
    }

    .connections-list-alphabetic-block {
      padding: 0 0 0 1rem;

      ion-row {
        padding: 0.25rem 0;
      }

      ion-item-divider {
        height: 2.952rem;

        ion-label {
          font-size: 0.8rem;
        }
      }

      ion-chip {
        width: 5.12rem;
        height: 1.52rem;
        margin: 0.24rem auto;
        padding: 0.496rem;

        span {
          margin-right: 3px;
        }
      }
    }
  }
}
