.qr-code-scanner-full-page {
  background: transparent;

  ion-header ion-toolbar {
    margin-top: 0.625rem;
    --background: transparent;

    .action-button.button-disabled {
      opacity: 0.25;
    }

    .back-button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.5rem;
      background: var(--ion-color-neutral-300);
      margin-left: 1.25rem;
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  .responsive-page-content {
    justify-content: flex-end;

    .qr-code-scanner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      height: 100vh;
    }

    .qr-code-scanner-icon {
      margin: 0;
    }

    .page-footer-content {
      display: flex;
      flex-direction: column-reverse;

      ion-button {
        margin-bottom: 1rem;

        &:first-of-type {
          margin-bottom: 0;
        }
      }

      @media screen and (min-width: 250px) and (max-width: 370px) {
        ion-button {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}
