.qr-code-scanner-full-page {
  background: transparent;

  ion-header ion-toolbar {
    margin-top: 0.625rem;
    --background: transparent;

    .back-button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light-grey);
      margin-left: 1.25rem;
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  .responsive-page-content {
    justify-content: flex-end;

    .qr-code-scanner {
      position: absolute;
      top: 0;
      left: 0;
    }

    .qr-code-scanner-icon {
      margin: 0;
    }

    ion-toolbar.page-footer {
      display: flex !important;
      flex-direction: column-reverse !important;

      .primary-button {
        order: 2;
      }

      .secondary-button {
        order: 2;
      }
    }
  }
}
