.add-connection-modal {
  .popup-modal-container {
    .connection-qr {
      > svg {
        padding: 1.25rem;
      }
    }
  }

  .popup-modal-footer {
    button {
      font-weight: 600;
    }
  }

  &.stage-1 {
    .connection-loading {
      position: relative;

      .qr-code-icon {
        width: 17.5rem;
        height: 17.5rem;
        padding: 1.25rem;
        opacity: 0.5;
        filter: blur(10px);
      }

      .loading-spinner {
        width: 2.74488rem;
        height: 2.74488rem;
        position: absolute;
        top: calc(50% - 1.37244rem);
        left: calc(50% - 1.37244rem);
      }
    }
    .error-on-request {
      display: flex;
      width: 17.5rem;
      padding: 1.25rem;
      margin: 0 auto;
      flex-direction: column;

      svg {
        margin-bottom: 0.75rem;
        color: var(--color-warning-800);
      }

      p {
        font-weight: 500;
      }

      > * {
        align-self: center;
      }
    }

    .popup-modal-footer {
      margin-top: 0.75rem;
      flex-direction: column;

      button.MuiButtonBase-root.MuiButton-root {
        width: 100%;

        &:first-of-type:not(:last-of-type) {
          margin-bottom: 1.25rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.5rem;
        }
      }
    }
  }

  &.stage-2 {
    p.MuiTypography-root.popup-modal-description {
      margin-bottom: 0;
    }

    .MuiAccordion-root {
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
      background-color: var(--color-background);

      &::before {
        opacity: 0;
      }

      h3 button {
        padding: 0;
        min-height: 0;
        margin-top: 0.5rem;
        justify-content: left;

        span {
          flex-grow: 0;
          margin: 0;

          .accordion-collapsed {
            display: block;
          }
          .accordion-expanded {
            display: none;
          }

          &.Mui-expanded {
            .accordion-collapsed {
              display: none;
            }

            .accordion-expanded {
              display: block;
            }
          }
        }

        span,
        svg {
          color: var(--color-primary-700);
        }
      }

      .MuiAccordionDetails-root {
        padding: 0;
        margin-top: 0.5rem;
        text-align: left;

        p {
          font-weight: 500;

          svg {
            height: 1rem;
            width: 1rem;
            margin-bottom: -0.15rem;
          }
        }
      }
    }

    .camera-button-container {
      margin: 1.5rem 0;

      .camera-button {
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 0.75rem;
        padding: 1.3125rem 1.375rem 1.4375rem 1.375rem;
        justify-content: center;
        align-items: center;
        border-radius: 2.75rem;
        background: var(--color-primary-200);

        svg {
          width: 2.75rem;
          height: 2.75rem;
        }
      }

      p {
        font-size: 0.75rem;
      }
    }

    #qr-reader {
      margin: 0.75rem;
      border: none !important;

      > div:first-of-type {
        display: none;
      }

      #html5-qrcode-anchor-scan-type-change {
        display: none;
      }

      #qr-reader__dashboard_section {
        > div:last-of-type {
          display: none;
        }
      }
    }

    .connection-url-form {
      margin-bottom: 1.5rem;
    }

    .back-button svg {
      margin-right: 0.5rem;
    }
  }
}
