.identifier-theme-selector {
  .identifier-theme-input {
    justify-content: space-between;

    &:first-child {
      margin-bottom: 0.63rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    ion-col {
      height: 5.9375rem;
      padding: 0.5rem;
      margin: 0;
      border-radius: 0.5rem;
      border: 1px solid var(--ion-color-dark-grey);
      background: var(--ion-color-light);

      &:first-of-type {
        margin-right: 0.75rem;
      }

      &.selected-theme {
        border: 1px solid var(--ion-color-secondary) !important;
        background: var(--ion-color-medium-grey);
      }

      .theme-input {
        margin: 0;
        height: 100%;
        --background: var(--ion-color-light);
        --inner-border-width: 0;
        border: 1px solid var(--ion-color-dark-grey);
        color: var(--ion-color-secondary);
        box-shadow: none;

        .unselected-theme-circle,
        .selected-theme-checkmark {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .selected-theme-checkmark-inner {
            width: 1.125rem;
            height: 1.125rem;
            margin: auto;
            border-radius: 1.125rem;
          }
        }

        .selected-theme-checkmark {
          background: var(--ion-color-primary-gradient);
        }

        .unselected-theme-circle {
          background: var(--ion-color-light);
          border: 1px solid var(--ion-color-dark-grey);
        }

        &::part(native) {
          background-color: transparent;
        }
      }
    }
  }
}

@media screen and (min-width: 250px) and (max-width: 425px) {
  .identifier-theme-selector .identifier-theme-input ion-col {
    height: 4.75rem;
    padding: 0.35rem;

    &:first-of-type {
      margin-right: 0.6rem;
    }
  }

  .identifier-theme-selector .identifier-theme-input ion-col .theme-input {
    .unselected-theme-circle,
    .selected-theme-checkmark {
      width: 1.2rem;
      height: 1.2rem;
      top: 0.2rem;
      right: 0.2rem;

      .selected-theme-checkmark-inner {
        width: 0.9rem;
        height: 0.9rem;

        ion-icon {
          width: 0.8rem;
          height: 0.8rem;
          margin-bottom: 50%;
        }
      }
    }
  }

  @media screen and (min-width: 371px) and (max-width: 425px) {
    .identifier-theme-selector .identifier-theme-input ion-col {
      height: 5.2rem;
      padding: 0.4rem;
    }
  }
}
