#navBar {
  background-color: var(--color-neutral-200);

  button {
    color: var(--text-color);
    text-transform: none;
    padding: 0.75rem 1rem 0.75rem 1.25rem;

    .menu-icon {
      margin-right: 0.5rem;
    }
  }
}

#drawer {
  padding-left: 1rem;

  h6 {
    padding-left: 0.5rem;
    margin: 1.25rem 0;
  }

  .MuiList-root {
    padding: 0;

    .MuiButtonBase-root {
      padding: 0.75rem 0;

      .MuiListItemIcon-root {
        color: var(--text-color);
        min-width: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
