.card-slider {
  .card-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0;
  }

  .page-indicator,
  .page-indicator-active {
    margin: 0 0.25rem;
    background: var(--ion-color-neutral-400);
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }

  .page-indicator-active {
    width: 1.875rem !important;
    opacity: 1 !important;
    transition: width 1s;
  }

  .swiper-slide {
    width: 90%;
  }

  &.transition-start {
    .not-picked {
      visibility: hidden;
    }

    .picked-card {
      transform: none !important;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .page-indicator-active {
      width: 1.5rem !important;
    }
  }
}
