.scrollable-page-layout {
  display: flex;
  flex-direction: column;
  padding-inline: 1.25rem;
  background: var(--ion-color-light);

  .scrollable-page-content {
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 1 auto;
      margin: 0 auto 1.56rem;
    }

    > h2 {
      margin: 1rem 0 0.94rem;
    }

    .page-footer {
      margin-top: 3rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 425px) {
    padding-inline: 0.9rem;

    .scrollable-page-content {
      > h2 {
        margin: 0.5rem 0 0.94rem;
      }
    }
  }
}
