.assets-transactions {
  display: flex;
  flex-direction: column;

  .compact {
    padding-top: 1.5rem;
  }

  .assets-transactions-header {
    width: 100%;

    &.expanded {
      max-height: 6rem;

      &.assets {
        max-height: 4rem;
        &.md {
          max-height: 5rem;
        }
      }
      &.transactions {
        max-height: 9.5rem;
        &.md {
          max-height: 10.5rem;
        }
      }
    }

    .assets-transactions-toggle-segment {
      --background: var(--ion-color-medium-grey);

      ion-segment-button.segment-button-checked {
        &::part(indicator-background) {
          background: var(--ion-color-primary-gradient);
        }
      }
    }

    ion-searchbar {
      padding: 0;
      height: 2.25rem;
      margin: 0.63rem 0;
    }

    .assets-transactions-swipe-message,
    .assets-transactions-toggle-segment {
      margin-top: 1rem;
    }

    .filter-icon {
      width: 1.18rem;
      height: 1.18rem;
    }
  }

  &.hide-balance {
    .account-balance,
    .transaction-amount {
      filter: blur(0.438rem);
    }
  }

  ion-item {
    --background: var(--ion-color-light-grey);
  }

  .assets-transactions-swipe-message {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--ion-color-secondary);
    font-weight: 400;
  }

  .transaction-type {
    width: 1.18rem;
    height: 1.18rem;
  }

  .transactions-filters {
    ion-button {
      margin: 0;
      height: 1.93rem;
      --padding-start: 0.63rem;
      --padding-end: 0.63rem;

      &:not(:first-child) {
        margin-left: 0.63rem;
      }

      ion-icon {
        margin-right: 0.3rem;
      }
    }
  }

  .assets-list,
  .transactions-list {
    padding-top: 0;
    background: var(--ion-color-light-grey);

    ion-item {
      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-dark-grey);
      }
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
      }
    }

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .assets-list ion-col {
    &.asset-logo {
      position: relative;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2rem;
      }
    }

    &.asset-info {
      .asset-name {
        margin-bottom: 0.31rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .asset-rate {
        font-size: 0.875rem;
        color: var(--ion-color-secondary);
      }
    }

    &.asset-balance {
      ion-label {
        text-align: right;
      }
    }
  }

  .transactions-list ion-col {
    &.transaction-icon {
      .icon-container {
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1.5px solid;
        border-radius: 1.375rem;
        margin: 0 auto;

        &.send {
          border-color: var(--ion-color-danger);
        }

        &.receive {
          border-color: var(--ion-color-green);
        }

        &::part(native) {
          width: 2.75rem;
          height: 2.75rem;
          padding: 0;
        }

        ion-icon {
          width: 1.9375rem;
          height: 1.9375rem;
          margin: 0 auto;
        }
      }
    }

    &.transaction-info {
      ion-label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 0.2rem;
      }

      .transaction-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .transaction-type {
        margin-left: 0.62rem;
      }

      .transaction-time {
        font-size: 0.875rem;
        color: var(--ion-color-secondary);
      }
    }

    &.transaction-amount {
      ion-label {
        text-align: right;
      }
    }
  }
}
