.assets-transactions-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-item {
    --background: var(--ion-color-light-grey);
  }

  .assets-transactions-swipe-message {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: var(--ion-color-secondary);
    font-weight: 400;
  }

  .assets-transactions-toggle-segment {
    --background: var(--ion-color-dark-grey);

    ion-segment-button.segment-button-checked {
      &::part(indicator-background) {
        background: var(--ion-color-primary-gradient);
      }
    }
  }

  .assets-transactions-swipe-message,
  .assets-transactions-toggle-segment {
    margin-top: 1rem;

    &.show {
      top: 0;
      transition: top 0.5s ease-out;
    }

    &.hide {
      top: 100%;
      transition: top 0.5s ease-out;
    }
  }

  .assets-list,
  .transactions-list {
    ion-item {
      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-dark-grey);
      }
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
      }
    }

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .assets-list ion-col {
    &.asset-logo {
      position: relative;

      img {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 2rem;
      }
    }

    &.asset-info {
      .asset-name {
        margin-bottom: 0.31rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .asset-rate {
        font-size: 0.875rem;
        color: var(--ion-color-secondary);
      }
    }

    &.asset-balance {
      ion-label {
        text-align: right;
      }
    }
  }

  .transactions-list ion-col {
    &.transaction-icon {
      ion-button {
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        border: 1.5px solid;
        border-radius: 1.375rem;

        &.send {
          border-color: var(--ion-color-danger);
        }

        &.receive {
          border-color: var(--ion-color-green);
        }

        &::part(native) {
          width: 2.75rem;
          height: 2.75rem;
          padding: 0;
        }

        ion-icon {
          width: 1.9375rem;
          height: 1.9375rem;
        }
      }
    }

    &.transaction-info {
      .transaction-address-type {
        margin-bottom: 0.31rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .transaction-time {
        font-size: 0.875rem;
        color: var(--ion-color-secondary);
      }
    }

    &.transaction-outcome {
      ion-label {
        text-align: right;
      }
    }
  }
}
