.verify-password-modal {
  ion-label:not([color="danger"]) {
    display: none;
  }

  & .responsive-modal-content.verify-password-content {
    ion-header.page-header {
      margin-bottom: 1.5rem;

      & ion-buttons.buttons-last-slot {
        min-width: auto;

        .action-button-label {
          & > p {
            color: var(--ion-color-action-blue) !important;
          }
        }
      }
    }

    .password-input-container {
      margin-bottom: 1rem;
    }

    .forgot-actions {
      margin-bottom: 0;
    }
  }

  ion-item {
    --min-height: auto;
  }

  ion-item.custom-input .input-line {
    border: none;
    text-align: center;
    font-size: 2rem;
  }

  ion-input {
    margin-left: 2rem;

    &[type="password"] {
      letter-spacing: 0.25em;
    }
  }

  .close-button-label {
    color: var(--ion-color-primary);
  }

  .error-message {
    text-align: center;
  }

  .error-placeholder {
    height: 2.375rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    & .responsive-modal-content.verify-password-content {
      ion-header.page-header {
        margin-bottom: 1rem;
      }

      .password-input-container {
        margin-bottom: 0.75rem;
      }
    }

    .error-placeholder {
      height: 1.7rem;
    }
  }
}
