.verify-password {
  ion-label:not([color="danger"]) {
    display: none;
  }

  ion-item.input-item .input-line {
    border: none;
    text-align: center;
    font-size: 2rem;
  }

  ion-input {
    margin-left: 2rem;

    &[type="password"] {
      letter-spacing: 0.25em;
    }
  }

  .close-button-label {
    color: var(--ion-color-primary);
  }

  .error-message {
    text-align: center;
  }

  .error-placeholder {
    height: 1.375rem;
  }
}
