:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: "Roboto" !important;
  font-family: "Roboto" !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: var(--ion-color-light);

  .max-zindex {
    z-index: 2147483647 !important; // max value
  }

  .md {
    text-transform: none;
  }

  &.full-page-scanner {
    #root
      ion-app
      > *:not(.qr-code-scanner-full-page):not(.scanner-input-modal):not(
        .app-spinner-container
      ):not(.input-pid-modal):not(.confirmation-toast):not(
        .alert-create-identifier
      ):not(.create-stage-0) {
      display: none;
    }

    .app-spinner-container {
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background: rgba(var(--ion-color-primary-rgb), 0.2);
    }
  }

  &:not(.full-page-scanner) .app-spinner-container {
    display: none;
  }

  &.scanner-active {
    background-color: transparent;

    > div:last-child {
      display: block;
      z-index: -10;
      --background: var(--ion-color-secondary) !important;
      --ion-background-color: var(--ion-color-secondary) !important;
      background-color: var(--ion-color-secondary) !important;

      &.hide {
        display: none;
      }
    }
  }
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-list {
  &.md {
    padding: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.756rem;
}

h3 {
  font-size: 1.25rem;
}

h3,
h4 {
  line-height: 1.172rem;
}

h1,
h2,
h3,
h4 {
  color: var(--ion-color-primary);
}

h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
}

p,
h4 {
  font-size: 1rem;
}

p {
  margin: 0.5rem 0;
  padding-inline: 0;
  line-height: 1.375rem;
  color: var(--ion-color-secondary);
}

@media screen and (min-width: 250px) and (max-width: 370px) {
  h2,
  h3 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  h4 {
    font-size: 0.8rem;
  }

  p {
    margin: 0.35rem 0;
    line-height: 1rem;
  }
}

.safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(100% - var(--safe-area-inset-bottom));
}

.primary-button {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-gradient);
}

.secondary-button {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-dark-grey);

  &::part(native) {
    border: 1px solid var(--ion-color-dark-grey);
  }
}

.tertiary-button {
  --color: var(--ion-color-primary);
  --background: transparent;
}

.delete-button,
.archive-button {
  --color: var(--ion-color-white);

  ion-icon {
    margin-right: 0.5rem;
    --ion-color-base: var(--ion-color-white) !important;
  }
}

.delete-button {
  --background: var(--ion-color-danger);
}

.archive-button {
  --background: var(--ion-color-action-blue);
}

.primary-button,
.secondary-button,
.tertiary-button,
.delete-button,
.archive-button {
  font-size: 1rem;
  height: 3.25rem;
  --background-activated: var(--ion-color-medium-grey);

  &.button-disabled {
    --background: var(--ion-color-dark-grey);
  }
}

@media screen and (min-width: 250px) and (max-width: 370px) {
  .primary-button,
  .secondary-button,
  .tertiary-button,
  .delete-button,
  .archive-button {
    font-size: 0.8rem;
    height: 2.5rem;
    margin: 0 auto 0.8rem;
  }
}

@media screen and (min-height: 300px) and (max-height: 580px) {
  .small-hide {
    display: none;
  }
}

ion-toast {
  --height: 3.25rem;
  --border-radius: 0.5rem;
  --box-shadow: 3px 3px 10px 0 rgba(var(--ion-color-black-rgb), 0.2);

  &::part(message) {
    text-align: left;
    font-size: 1rem;
  }

  &.confirmation-toast {
    &::part(message) {
      color: var(--ion-color-light);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    --height: 2.6rem;

    &::part(message) {
      font-size: 0.8rem;
    }
  }
}

ion-router-outlet.blur {
  filter: blur(0.1rem);
}

ion-segment {
  --background: var(--ion-color-dark-grey);

  ion-segment-button {
    &.segment-button-checked {
      &::part(indicator-background) {
        background: var(--ion-color-primary-gradient);
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 425px) {
    ion-label {
      font-size: 0.8rem;
      height: 1rem;
      line-height: normal;
      margin: 0 auto;
    }

    ion-segment-button.md {
      height: 2.4rem;
      min-height: 2.4rem;
    }
  }
}
