.smartphone-layout {
  position: relative;
  width: 26.438rem;
  height: 58.188rem;
  zoom: 75%;
  font-size: 0.875rem;
  margin: 2rem auto;
  background: var(--ion-color-secondary);
  border: 1rem black solid;
  border-top-width: 3.75rem;
  border-bottom-width: 3.75rem;
  border-radius: 2.25rem;
  --scale-w: 4px;
  --scale-h: 4px;

  ion-modal {
    --width: 24.375rem;
  }
}

.smartphone-layout:before {
  content: "";
  display: block;
  width: 3.75rem;
  height: 0.313rem;
  position: absolute;
  top: -1.875rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 0.625rem;
}

.smartphone-layout:after {
  content: "";
  display: block;
  width: 2.188rem;
  height: 2.188rem;
  position: absolute;
  left: 50%;
  bottom: -4.063rem;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.smartphone-layout .smartphone-content {
  width: 24.375rem;
  height: 50.625rem;
  background: white;
}
