@import "./styles/colors.scss";

body {
  margin: 0;
  --ion-font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: var(--ion-color-light);
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.756rem;
  color: var(--ion-color-primary);
}

h3 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.172rem;
}

p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--ion-color-secondary);
}

.ion-primary-button {
  text-transform: none;
  font-size: 1rem;
  color: var(--ion-color-primary);
  --background: var(--color-accent-gradient);
  --background-activated: var(--color-medium-grey);

  &.button-disabled {
    --background: var(--color-dark-grey);
  }
}

.secondary-button {
  --border-color: var(--color-dark-grey);
  --background-activated: var(--color-dark-grey);
}

.ion-primary-button,
.secondary-button {
  height: 3.25rem;
}

.page-paragraph {
  margin: 0;
}

.continue-col {
  text-align: center;
}

.safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(100% - var(--safe-area-inset-bottom));
}

.seed-phrase-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  ion-chip {
    border-radius: 0.5rem;
    font-weight: 400;
    width: 92%;
    margin: 0.3rem auto;
    padding-inline: 0.475rem;

    .index {
      margin-right: 4px;
    }
  }
}

.modal {
  padding-inline: 20px;
  background-color: var(--ion-color-light);

  ion-toolbar {
    padding: 1.5rem 0 0 !important;
  }

  ion-content {
    height: 90vh;
  }

  h2 {
    margin: 0 auto;
  }
}
