@import "./styles/colors.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  color: var(--ion-color-primary);
}

p {
  color: var(--ion-color-secondary);
}

ion-app {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(
    100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom))
  );
  background-color: var(--ion-color-light);
}

.ion-primary-button {
  color: var(--ion-color-primary);
  --background: var(--color-accent-gradient);
  --background-activated: none;

  &.button-disabled {
    --background: var(--color-medium-grey);
  }
}

.ion-primary-button {
  color: var(--ion-color-primary);
  --background: var(--color-accent-gradient);
  --background-activated: var(--color-medium-grey);

  &.button-disabled {
    --background: var(--color-dark-grey);
  }
}

.secondary-button {
  --border-color: var(--color-dark-grey);
  --background-activated: var(--color-dark-grey);
}

.continue-col {
  text-align: center;
}
