.cred-card-template {
  height: 12.5rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-shadow: 0px 2px 4px rgba(12, 64, 90, 0.5);

  &.active:not(:first-child):hover {
    position: absolute;
    top: 11.5rem;
    transition: top 1.5s;
  }

  &.active:not(:hover) {
    transform: translateY(100vh);
    transition: 0.7s ease-out;
  }

  &:not(:first-child) {
    margin-top: -10rem;
    box-shadow: 0px -5px 5px rgba(54, 60, 74, 0.25);
  }

  &.university-degree-credential {
    background: var(--ion-color-gradient-university-card);

    .cred-card-template-inner {
      color: var(--ion-color-light);

      &.pending .card-footer-column-label {
        color: white;
      }
    }
  }

  &.access-pass-credential {
    .cred-card-template-inner {
      color: var(--ion-color-primary);

      &.pending .card-footer-column-label {
        color: var(--ion-color-secondary);
      }
    }
  }

  &.permanent-resident-card {
    .cred-card-template-inner {
      color: var(--ion-color-primary);

      &.pending .card-footer-column-label {
        color: var(--ion-color-secondary);
      }
    }
  }

  .cred-card-template-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.pending {
      .card-body {
        margin-inline: 5rem;
      }

      .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-footer-column {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:first-child .card-footer-column-value {
            width: 40vw;
          }

          &:last-child .card-footer-column-value {
            width: 20vw;
          }

          .card-footer-column-label {
            font-size: 0.625rem;
            font-weight: 700;
          }

          .card-footer-column-value {
            border-radius: 0.25rem;
            background: var(--ion-color-medium-grey);
          }
        }
      }
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      .card-logo {
        display: flex;
        flex-direction: row;
        line-height: normal;

        img {
          margin-right: 0.5rem;
          max-height: 1.375rem;
        }
      }

      ion-chip {
        max-height: 1.625rem;
        font-weight: 400;
        font-size: 0.75rem;
        background: var(--ion-color-medium-grey);
        border-radius: 0.25rem;
        padding: 0.375rem 0.625rem;

        ion-icon {
          width: 0.875rem;
          height: 0.875rem;
          margin: 0;
        }

        span {
          text-transform: capitalize;
          margin-left: 0.31rem;
        }
      }
    }

    .card-body {
      font-size: 0.625rem;
      letter-spacing: 0.09375rem;
      text-align: center;
    }
  }
}
