.ballot-transaction {
  & .page-header {
    ion-toolbar {
      --background: transparent;

      ion-title.md {
        width: calc(100% - 3.75rem);
      }
    }
  }

  .ballot-transaction-header {
    margin: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ballot-owner-logo {
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      margin-bottom: 0.75rem;
    }

    .ballot-name {
      font-size: 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
      color: var(--ion-color-primary);
    }

    .ballot-subtitle {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
      color: var(--ion-color-secondary);
    }

    .ballot-link {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0;
      color: rgba(54, 60, 74, 0.75);
    }
  }

  .ballot-transaction-content {
    margin-bottom: 3rem;

    .ballot-address {
      margin-bottom: 1.5rem;

      .card-details-info-block-inner {
        padding: 1.25rem 1.5rem;

        @media screen and (min-width: 250px) and (max-width: 370px) {
          font-size: 0.8rem;
          padding: 0.85rem 1.25rem;
        }
      }
    }

    .ballot-data {
      .card-details-info-block-line {
        --min-height: initial;
        margin-bottom: 1rem;

        &:first-child {
          margin-top: 0.75rem;
        }

        &:last-child {
          margin-bottom: 0.75rem;
        }

        @media screen and (min-width: 250px) and (max-width: 370px) {
          margin-bottom: 0.75rem;
        }

        .card-details-info-content {
          display: block;
        }
      }
    }
  }
}
