.sign-request {
  &.blur {
    filter: blur(0.1rem);
  }

  .sign-request-header {
    height: 44px;
  }

  & .page-header {
    ion-toolbar {
      --background: transparent;

      & > ion-title.md {
        margin: 0;
      }
    }
  }

  .sign-footer {
    padding: 1rem 0;

    .secondary-button::part(native) {
      border: none;
      color: var(--ion-color-error-800);
    }
  }

  .sign-header {
    margin: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-owner-logo {
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      margin-bottom: 0.75rem;
    }

    .sign-name {
      font-size: 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
      color: var(--ion-color-neutral-800);
    }

    .sign-link {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0;
      color: var(--ion-color-neutral-600);
    }
  }

  .sign-content {
    .sign-identifier {
      margin-bottom: 1.5rem;

      .identifier {
        display: block;
        padding: 0.75rem 0;

        @media screen and (min-width: 250px) and (max-width: 370px) {
          font-size: 0.8rem;
          padding: 0.25rem 0;
        }
      }
    }

    .sign-data {
      .card-details-nested-content {
        & > .card-details-info-block-inner {
          padding: 1rem;
        }
      }

      & > .card-details-info-block-inner > .sign-info-item {
        &:first-child {
          margin-top: 0.75rem;
        }

        &:last-child {
          margin-bottom: 0.75rem;
        }

        @media screen and (min-width: 250px) and (max-width: 370px) {
          &:first-child {
            margin-top: 0.5rem;
          }

          &:last-child {
            margin-bottom: 0.5rem;
          }
        }
      }
      .sign-string {
        display: block;
        padding: 0.75rem 0;
        font-weight: normal;
        @media screen and (min-width: 250px) and (max-width: 370px) {
          font-size: 0.8rem;
          padding: 0.25rem 0;
        }
      }
    }
  }
}
