.passcode-module {
  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    line-height: 1.75rem;
  }

  .description {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
  }

  .circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem 0.8rem;
  }

  .circle {
    width: 6.4vw;
    height: 6.4vw;
    max-width: 1.563rem;
    max-height: 1.563rem;
    border-radius: 50%;
    border: 1px solid var(--ion-color-secondary);
    margin: 0 0.5rem;
  }

  .circle-fill {
    background: var(--ion-color-secondary);
  }

  .pin-error {
    text-align: center;
    margin-bottom: 1.5rem;
    height: 1rem;
  }

  .numbers-row ion-col {
    display: flex;
    justify-content: center;
  }

  .number-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 2.75rem;
    color: var(--ion-color-primary);
  }

  .number-labels {
    display: flex;
    margin-top: 3px;
    margin-left: 2px;
    text-align: center;
  }

  .number-labels span {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-right: 2px;
  }

  .board-button {
    --background: var(--ion-color-medium-grey);
  }

  .backspace-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }

  .board-button,
  .backspace-button {
    width: 22.54vw;
    height: 22.54vw;
    max-width: 5.5rem;
    max-height: 5.5rem;
    --border-radius: 3.125rem;
    --background-activated: var(--ion-color-dark-grey);
  }

  .backspace-icon {
    width: 3.125rem;
    height: 3.125rem;
  }
}
