.passcode-module-circle-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passcode-module-circle {
  width: 6.4vw;
  height: 6.4vw;
  max-width: 1.563rem;
  max-height: 1.563rem;
  border-radius: 50%;
  border: 1px solid var(--ion-color-neutral-700);
  margin: 0 0.5rem;
}

.passcode-module-circle-fill {
  background: var(--ion-color-neutral-700);
}

.passcode-module-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .passcode-module-numbers-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ion-col {
      display: flex;
      justify-content: center;
      padding: 0.25rem 0;
    }

    ion-button {
      margin: 0;
      width: 22.57vw;
      height: 22.57vw;
      --border-radius: 22.57vw;
      --background-activated: var(--ion-color-neutral-400);
      --background-focused: var(--ion-color-neutral-400);
      --background-hover: var(--ion-color-neutral-400);
    }
  }

  .passcode-module-number-button {
    --background: var(--ion-color-neutral-300);

    .passcode-module-number-button-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      text-align: center;
      cursor: pointer;
      font-size: 11.28vw;
      font-weight: 500;
      color: var(--ion-color-neutral-800);

      .passcode-module-number-labels {
        display: flex;
        margin-top: 3px;
        margin-left: 2px;
        text-align: center;

        span {
          font-size: 3.59vw;
          text-transform: uppercase;
          margin-right: 2px;
        }
      }
    }
  }

  .passcode-module-backspace-button {
    --background: var(--ion-color-neutral-800);
    --color: var(--ion-color-neutral-100);

    .passcode-module-backspace-icon {
      width: 3.125rem;
      height: 3.125rem;
    }
  }
  .passcode-module-fingerprint-icon {
    width: 3.125rem;
    height: 3.125rem;
    color: var(--ion-color-neutral-800);
  }
}

@media screen and (min-height: 300px) and (max-height: 715px) {
  .passcode-module-circle {
    width: 5vw;
    height: 5vw;
  }

  .passcode-module-container {
    .passcode-module-numbers-row {
      ion-button {
        height: 12vh;
        width: 12vh;
        --border-radius: 12vh;
      }

      .passcode-module-number-button-inner {
        font-size: 6vh;

        .passcode-module-number-labels span {
          font-size: 1.65vh;
        }
      }
    }
  }
}

@media screen and (min-height: 300px) and (max-height: 580px) {
  .passcode-module-circle-row {
    margin-top: 0.5rem;
  }
}
