@use "./colors.scss";

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Manrope", sans-serif;
  text-transform: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
