.credentials-tab {
  &.tab-layout {
    padding-inline: 0;
  }

  .tab-header,
  .cards-placeholder-container,
  ion-content > *:not(.credential-favourite-cards),
  .card-slider-header {
    padding-inline: 1.25rem;
  }

  .cards-placeholder-container {
    margin-top: 2.5rem;
  }

  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .archived-credentials-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.5rem;

    &.hidden {
      visibility: hidden;
    }

    &.visible {
      visibility: visible;
    }

    ion-button {
      margin: 0 auto;
      --border-radius: 0.5rem;

      &::part(native) {
        padding: 0.625rem 1rem;
      }
    }
  }

  .credentials-tab-content-block {
    margin: 1.5rem 0;

    & > h3 {
      line-height: 1.5rem;
    }

    .list-header {
      margin-bottom: 0.75rem;
    }

    ion-list {
      padding: 0;

      ion-item.card-item {
        --card-height: calc(4.8125rem * 200 / 350);
      }
    }

    .credentials-tab-chips {
      margin-bottom: 1.5rem;
      display: flex;
      font-size: 1rem;
      font-weight: 400;

      @media screen and (min-width: 250px) and (max-width: 370px) {
        margin-bottom: 1.2rem;
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .archived-credentials-button-container {
      height: 2.5rem;
    }

    .credentials-tab-content-block {
      margin-bottom: 1.6rem;

      .list-header {
        margin-bottom: 0.6rem;
      }
    }
  }

  &.cards-credential-nav {
    .credential-favourite-cards {
      animation: credentialFavouriteCardResize 0.25s ease;
      animation-fill-mode: forwards;

      @keyframes credentialFavouriteCardResize {
        from {
          opacity: 0;
          overflow: hidden;
          margin-top: 0;
        }
        to {
          opacity: 0;
          height: 0;
          overflow: hidden;
          margin: 0;
        }
      }
    }

    .credential-cards {
      .list-header,.credentials-tab-chips {
        animation: indentifierFavouriteCardHeaderResize 0.25s ease;
        animation-fill-mode: forwards;

        @keyframes indentifierFavouriteCardHeaderResize {
          from {
            opacity: 0;
            overflow: hidden;
            height: 1.25rem;
          }
          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }

  &.favorite-credential-nav {
    .credential-favourite-cards {
      .card-slider-header {
        animation: credentialFavouriteCardHeaderResize 0.25s ease;
        animation-fill-mode: forwards;

        @keyframes credentialFavouriteCardHeaderResize {
          from {
            opacity: 0;
            overflow: hidden;
            height: 1.25rem;
          }
          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }

    .credential-cards,
    .pending-container {
      display: none;
    }
  }
}
