.mobile-header-preview {
  display: none;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 13px 32px;
  position: relative;
  z-index: 22000;

  .left-side {
    line-height: 1.375rem;
    color: var(--ion-color-primary);
  }

  .camera {
    background-color: black;
    width: 100px;
    height: 100%;
    border-radius: 20px;
  }

  .right-side {
    display: flex;
    align-items: center;

    ion-icon:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
