.mobile-preview-header {
  display: none;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0.8125rem 2rem;
  position: relative;
  /*
  * Because preview mobile header should display on top of all page layout and some layout is modal. 
  * Therefore I need fix z-index with high value.
  */
  z-index: 22000;

  .left-side {
    line-height: 1.375rem;
    color: var(--ion-color-primary);
  }

  .camera {
    background-color: black;
    width: 6.25rem;
    height: 100%;
    border-radius: 1.25rem;
  }

  .right-side {
    display: flex;
    align-items: center;

    ion-icon:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
