.verify-passcode {
  .responsive-page-layout {
    .page-header {
      ion-toolbar {
        --background: transparent;
      }
    }
  }

  .responsive-page-content {
    justify-content: space-evenly;

    .verify-passcode-title,
    .verify-passcode-description {
      text-align: center;
    }

    .verify-passcode-title {
      margin-top: 4rem;

      @media screen and (min-height: 300px), screen and (max-height: 550px) {
        margin-top: 0.5rem;
      }
    }
  }
}
