.incoming-request {
  &.show {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.5s;
  }

  &.hide {
    transform: translate3d(100%, 0, 0);
    transition-duration: 0.5s;

    h2,
    .request-content,
    ion-footer {
      display: none;
    }
  }

  .responsive-page-content {
    justify-content: space-evenly;
  }

  h2 {
    text-align: center;
  }

  &.animation-on {
    h2 {
      visibility: hidden;
      opacity: 0;
      transform-origin: 0 0;
      transform: translate3d(0, -5rem, 0);
      transition: opacity 0.5s, visibility 1s, transform 1s;
    }

    .request-user-logo,
    .request-provider-logo {
      visibility: hidden;
      transform-origin: 50% 50%;
      transition: transform 0.7s, visibility 2s;
      transition-delay: 0.7s;
    }

    .request-user-logo {
      transform: translate3d(5rem, 0, 0);
    }

    .request-provider-logo {
      transform: translate3d(-5rem, 0, 0);
    }

    .request-checkmark-logo {
      display: block !important;

      span {
        visibility: visible;
        opacity: 1;
        transform: scale(1.8);
        transition: transform 3s, opacity 2s, visibility 1s;
        transition-delay: 2s;
      }
    }

    .request-info-row {
      transform: translate3d(0, 20vh, 0);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 1s, transform 1s;
    }

    .request-status {
      transform: translate3d(0, -50vh, 0);
      transition: transform 0.5s;
      transition-delay: 2.7s;
    }
  }

  &.animation-off {
    h2 {
      visibility: visible;
      opacity: 1;
    }

    .request-user-logo {
      left: calc(50% - 7.25rem);
    }

    .request-user-logo,
    .request-provider-logo,
    .request-info-row {
      visibility: visible;
      opacity: 1;
    }

    .request-checkmark-logo {
      display: none !important;
      opacity: 0;
      visibility: hidden;
      width: 2rem !important;
      height: 2rem !important;
    }

    ion-footer {
      bottom: 1rem;
    }
  }

  .request-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .request-user-logo,
    .request-swap-logo,
    .request-provider-logo,
    .request-checkmark-logo {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .request-user-logo {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      background-color: var(--ion-color-primary);
      left: calc(50% - 7.5rem);

      ion-icon {
        width: 4.875rem;
        height: 4.875rem;
        margin: 0 auto;
      }
    }

    .request-swap-logo,
    .request-checkmark-logo {
      width: 5rem;
      height: 5rem;
      left: calc(50% - (2.75rem / 2));

      span {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 2.75rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--ion-color-primary-gradient);
        margin: 0 auto;

        ion-icon {
          width: 1.875rem;
          height: 1.875rem;
          margin: 0 auto;
        }
      }
    }

    .request-provider-logo {
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
      }

      left: calc(50% + 2.5rem);
    }
  }

  .request-info-row,
  .request-status {
    ion-col {
      display: flex;
      flex-direction: column;

      > * {
        text-align: center;
      }

      span {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--ion-color-secondary);
        margin-bottom: 0.3rem;

        &:first-letter {
          text-transform: capitalize;
        }
      }

      strong {
        font-size: 1rem;
        color: var(--ion-color-primary);

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}
