.card-list {
  background: transparent;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(var(--ion-color-dark-grey-rgb), 0.5);
  }

  ion-item.card-item {
    --inner-padding-top: 1rem;
    --inner-padding-bottom: 1rem;
    --padding-start: 0;
    --background: var(--ion-color-light);
    --title-font-size: 1rem;
    --title-margin-bottom: 0.25rem;
    --logo-border-radius: 50%;
    --display-fallback: flex;
    --subtitle-font-size: 0.875rem;
    --card-width: 2.75rem;
    --card-height: 2.75rem;

    .card-logo {
      border-radius: var(--logo-border-radius);
      width: var(--card-width);
      height: var(--card-height);
      margin-right: 1rem;
    }

    .card-fallback-logo {
      background-color: var(--ion-color-primary);
      display: var(--display-fallback);
      justify-content: center;
      align-items: center;

      ion-icon {
        width: 100%;
        height: 100%;
      }
    }

    .card-info {
      flex: 1;

      .card-title {
        font-size: var(--title-font-size);
        line-height: 1.17rem;
        margin-bottom: var(--title-margin-bottom);
        font-weight: 500;
        color: var(--ion-color-primary);
        margin-top: 0;

        &.no-margin {
          --title-margin-bottom: 0;
        }
      }

      .card-subtitle {
        font-size: var(--subtitle-font-size);
        line-height: 1rem;
        font-weight: 400;
        color: var(--ion-color-primary);
        margin: 0;
      }
    }
  }

  ion-item-sliding {
    --inner-padding-end: 0;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    ion-item.card-item {
      --inner-padding-top: 0.75rem;
      --inner-padding-bottom: 0.75rem;
      --title-font-size: 0.875rem;
      --subtitle-font-size: 0.75rem;
      --card-width: 2.25rem;
      --card-height: 2.25rem;

      .card-logo {
        border-radius: var(--logo-border-radius);
        margin-right: 0.5rem;
      }
    }

    ion-label {
      ion-checkbox {
        --size: 1.6rem;
        width: 1.6rem;
        margin: 0 0.8rem 0 0.3rem;
      }

      .card-info {
        margin-left: 0.752rem;

        .card-name,
        .card-expiration {
          font-size: 0.8rem;
        }
      }

      img.card-miniature {
        height: 2.2rem;
        width: 3.2rem;
      }
    }

    ion-item-sliding ion-item-options ion-item-option {
      font-size: 0.8rem;
    }
  }
}
