.card-list {
  &:not(:last-child) {
    border-bottom: 1px solid var(--ion-color-neutral-300);
  }

  ion-item.card-item {
    --inner-padding-end: 0;
    --padding-start: 0;
    --background: transparent;
    --title-font-size: 1rem;
    --logo-border-radius: 0.25rem;
    --display-fallback: flex;
    --subtitle-font-size: 0.875rem;
    --card-width: auto;
    --card-height: 2.75rem;

    &:last-child {
      --inner-border-width: 0;
    }

    .card-logo {
      border-radius: var(--logo-border-radius);
      width: var(--card-width);
      height: var(--card-height);
    }

    .card-fallback-logo {
      background-color: var(--ion-color-neutral-800);
      display: var(--display-fallback);
      justify-content: center;
      align-items: center;

      ion-icon {
        width: 100%;
        height: 100%;
      }
    }

    .card-info {
      flex: 1;
      overflow: hidden;
      padding-left: 1rem;

      .card-title {
        font-size: var(--title-font-size);
        line-height: 1.17rem;
        font-weight: 500;
        color: var(--ion-color-neutral-800);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 2rem 0;

        &.has-subtitle {
          margin: 1rem 0 0 0;
        }
      }

      .card-subtitle {
        font-size: var(--subtitle-font-size);
        line-height: 1rem;
        font-weight: 400;
        color: var(--ion-color-neutral-700);
        margin: 0.2rem 0 1rem 0;
      }
    }
  }

  &.rounde-img {
    ion-item.card-item {
      --logo-border-radius: 50%;
      --card-width: 2.75rem;
    }
  }

  ion-item-sliding {
    --inner-padding-end: 0;

    &:last-child {
      .card-item {
        --inner-border-width: 0;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    &.rounde-img {
      ion-item.card-item {
        --card-width: 2.25rem;
        --card-height: 2.25rem;
      }
    }

    ion-item.card-item {
      --title-font-size: 0.875rem;
      --subtitle-font-size: 0.75rem;

      .card-info {
        padding-left: 0.752rem;

        .card-name,
        .card-expiration {
          font-size: 0.8rem;
        }

        .card-title {
          margin: 2rem 0;

          &.has-subtitle {
            margin: 0.6rem 0 0 0;
          }
        }

        .card-subtitle {
          margin: 0 0 0.9rem 0;
        }
      }
    }

    ion-label {
      ion-checkbox {
        --size: 1.6rem;
        width: 1.6rem;
        margin: 0 0.8rem 0 0.3rem;
      }

      img.card-miniature {
        height: 2.2rem;
        width: 3.2rem;
      }
    }

    ion-item-sliding ion-item-options ion-item-option {
      font-size: 0.8rem;
    }
  }
}

ion-list.card-list {
  background: var(--ion-color-neutral-200);
}
