.lock-page {
  display: flex !important;
  z-index: 999;

  &.hide {
    .responsive-page-content,
    .scrollable-page-content {
      visibility: hidden;
    }
  }

  .responsive-page-content {
    justify-content: space-around;
  }

  .lock-page-title,
  .lock-page-description {
    text-align: center;
  }

  .lock-page-title {
    margin-top: 4rem;
  }
}
