.my-wallets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .accounts-list {
    background: transparent;

    ion-item-sliding {
      &:not(:last-child) {
        border-bottom: 1px solid var(--ion-color-dark-grey);
      }
    }
    ion-item {
      --inner-padding-end: 0;

      &::part(native) {
        padding: 0;
        background: var(--ion-color-light);
      }
    }

    ion-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.account-logo {
          position: relative;

          img {
            width: 2.75rem;
            height: 2.75rem;
            border-radius: 2rem;
          }
          .checkmark-base {
            width: 1.375rem;
            height: 1.375rem;
            border-radius: 1.375rem;
            background: var(--ion-color-light);
            position: absolute;
            top: 0;
            right: -0.438rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .checkmark-inner {
              width: 1.125rem;
              height: 1.125rem;
              margin: auto;
              border-radius: 1.125rem;
              background: var(--ion-color-primary-gradient);
            }
          }
        }

        &.account-info {
          .account-name {
            margin-bottom: 0.31rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .account-blockchain {
            font-size: 0.875rem;
            color: var(--ion-color-secondary);
          }
        }

        &.account-balance {
          ion-label {
            text-align: right;
          }
        }
      }
    }
  }

  .my-wallets-footer {
    margin-bottom: 1.63rem;
  }
}
