.cards-stack-container {
  display: flex;
  flex-direction: column;
}

.cards-stack-card.active:not(:first-child):hover {
  position: absolute;
  top: 11.5rem;
  transition: top 1.5s;
}

.cards-stack-card.active:not(:hover) {
  transform: translateY(100vh);
  transition: 0.7s ease-out;
}

.cards-stack-card {
  height: 12.5rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;

  .cards-stack-did-layout,
  .cards-stack-cred-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.pending {
      .card-body {
        margin-inline: 5rem;
      }

      .card-body,
      .card-footer-column-value {
        opacity: 0.4;
        border-radius: 0.25rem;
        background: var(--ion-color-secondary);
      }
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      .card-logo {
        display: flex;
        img {
          max-height: 1.375rem;
        }
      }

      ion-chip {
        max-height: 1.625rem;
        font-weight: 400;
        font-size: 0.75rem;
        background: var(--ion-color-medium-grey);
        border-radius: 0.25rem;
        padding: 0.375rem 0.625rem;

        ion-icon {
          width: 0.875rem;
          height: 0.875rem;
          margin: 0;
        }

        span {
          text-transform: capitalize;
          margin-left: 0.31rem;
        }
      }
    }

    .card-body {
      font-size: 0.625rem;
      letter-spacing: 0.09375rem;
      text-align: center;
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-child .card-footer-column-value {
          width: 40vw;
        }

        &:last-child .card-footer-column-value {
          width: 20vw;
        }

        .card-footer-column-label {
          font-size: 0.625rem;
          font-weight: 700;
        }

        .card-footer-column-info {
          font-size: 0.875rem;
          font-weight: 700;
        }
      }
    }
  }

  .cards-stack-did-layout {
    color: var(--ion-color-light);

    .card-logo {
      display: flex;
      flex-direction: row;
      line-height: normal;

      img {
        margin-right: 0.5rem;
      }
    }

    .card-footer-column-label {
      color: white;
    }

    .card-footer-column-info {
      color: var(--ion-color-light);
    }
  }

  .cards-stack-cred-layout {
    .card-logo {
      flex-direction: column;
      justify-content: center;
    }

    .card-footer {
      flex-direction: row;

      .card-footer-column-label {
        color: var(--ion-color-secondary);
      }

      .card-footer-column-info {
        color: var(--ion-color-primary);
      }
    }
  }
}

.cards-stack-card {
  &:not(:first-child) {
    margin-top: -10rem;
    box-shadow: 0px 0px 12px rgba(54, 60, 74, 0.25);
  }
}
