@import './light.scss';
@import './dark.scss';

:root {
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 206, 223, 240;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
}

body {
  &[theme-color='ocean'] {
    --ion-color-primary: #0072bc;
    --ion-color-primary-rgb: 48, 112, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 206, 223, 240;
    --ion-color-primary-darker: #0f2544;
    --ion-color-primary-darkest: #0b121e;
  }

  &[theme-color='sunset'] {
    --ion-color-primary: #FD841F;
    --ion-color-primary-rgb: 48, 112, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 206, 223, 240;
    --ion-color-primary-darker: #DC3535;
    --ion-color-primary-darkest: #820000;
  }

  &[theme-color='forest'] {
    --ion-color-primary: #76ab89;
    --ion-color-primary-rgb: 48, 112, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 206, 223, 240;
    --ion-color-primary-darker: #3C6255;
    --ion-color-primary-darkest: #3D5656;
  }

  &[theme-color='saver'] {
    --ion-color-primary: #999999;
    --ion-color-primary-rgb: 48, 112, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 206, 223, 240;
    --ion-color-primary-darker: #333333;
    --ion-color-primary-darkest: #000000;
  }
}
