@import './light.scss';
@import './dark.scss';

:root {
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
}

body {
  &[theme-color='ocean'] {
    --ion-color-primary: #0072bc;
    --ion-color-primary-rgb: 48, 112, 182;
    --ion-color-primary-contrast: #92c7eb;
    --ion-color-primary-contrast-rgb: 126, 214, 183;
    --ion-color-primary-darker: #0f2544;
    --ion-color-primary-darkest: #0b121e;
  }

  &[theme-color='sunset'] {
    --ion-color-primary: #d74b3b;
    --ion-color-primary-rgb: 215, 75, 59;
    --ion-color-primary-contrast: #EFAB57;
    --ion-color-primary-contrast-rgb: 239, 171, 87;
    --ion-color-primary-darker: #713C35;
    --ion-color-primary-darkest: #3F2E31;
  }

  &[theme-color='forest'] {
    --ion-color-primary: #638567;
    --ion-color-primary-rgb: 99, 133, 103;
    --ion-color-primary-contrast: #E1E5A6;
    --ion-color-primary-contrast-rgb: 225, 229, 166;
    --ion-color-primary-darker: #446457;
    --ion-color-primary-darkest: #1E2F32;
  }

  &[theme-color='saver'] {
    --ion-color-primary: #3d3d3d;
    --ion-color-primary-rgb: 153, 153, 153;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-darker: #1e2023;
    --ion-color-primary-darkest: #000000;
  }
}

ion-button::part(native) {
  color: var(--ion-color-medium-contrast);
}

ion-checkbox::part(container) {
  --checkmark-color: var(--ion-color-medium-contrast);
}
