/*
 * Dark Theme
 * ----------------------------------------------------------------------------
 */

body.dark {
  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;


  --ion-item-background: #transparent;
  --ion-background-color: var(--ion-color-primary-darkest);


  --ion-border-color: #1a1a1a;

  ion-toolbar,
  ion-card,
  ion-tab-bar {
    --background: var(--ion-color-primary-darker);
  }

  ion-tab-button {
    &.tab-selected {
      color: var(--ion-color-dark);
      border-top: 2px solid var(--ion-color-dark);
    }

    &:not(.tab-selected) {
      color: rgba(var(--ion-color-primary-rgb), 0.8);
    }
  }

  ion-tab-bar {
    border-top: 1px solid var(--ion-color-primary);
  }

  ion-content {
    --background: var(--ion-color-primary-darkest);
  }

  ion-popover::part(backdrop),
  ion-modal::part(backdrop) {
    background-color: var(--ion-color-dark);
  }

  .themed-button {
    color: var(--ion-color-dark);
  }

  ion-segment {
    --background: var(--ion-color-primary);
  }

  ion-button.secondary-button {
    --color: var(--ion-color-dark);
    --border-color: var(--ion-color-dark);
  }
}
