/*
 * Light Theme
 * ----------------------------------------------------------------------------
 */

body.light {
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-border-color: #efeff2;

  ion-content,
  ion-tab-bar,
  ion-item,
  ion-card {
    --background: var(--ion-color-light);
  }

  ion-toolbar {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
  }

  ion-tabs {
    background-color: var(--ion-color-light);
  }

  ion-tab-button.tab-selected {
    border-top: 2px solid var(--ion-color-primary);
  }

  ion-tab-button:not(.tab-selected) {
    color: rgba(var(--ion-color-primary-rgb), 0.6);
  }

  ion-popover ion-content {
    --color: var(--ion-color-primary);
  }

  ion-popover::part(backdrop),
  ion-modal::part(backdrop) {
    background-color: var(--ion-color-light-contrast);
  }

  .themed-button {
    color: var(--ion-color-primary);
  }

  ion-button.secondary-button {
    --color: var(--ion-color-primary);
    --border-color: var(--ion-color-primary);
  }
}
