ion-label {
  white-space: break-spaces;
}

ion-button {
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 18px;
  --padding-bottom: 18px;
  font-size: 18px;
  text-transform: none;
}

ion-menu ion-item {
  --padding-start: 0;
}
