ion-label {
  white-space: break-spaces;
}

ion-button {
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 18px;
  --padding-bottom: 18px;
  font-size: 18px;
  text-transform: none;
}

ion-menu ion-item {
  --padding-start: 0;
}

/* TODO: Popover colors */

/* ion-popover {
  --background: rgb(40, 173, 218);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 300px;
}

ion-popover ion-content {
  --background: rgba(40, 173, 218, 0.6);
}
ion-popover::part(backdrop) {
  background-color: rgb(6, 14, 106);
} */
