.alert-wrapper {
  max-width: 90% !important;
  padding: 25px 20px !important;
  border-radius: 1rem !important;

  .alert-title.sc-ion-alert-md {
    text-align: center;
  }

  .alert-head,
  .alert-message {
    padding: 0 !important;

    h2 {
      margin: 0;
    }
  }
}

.alert-button-group {
  flex-direction: column !important;
  padding: 0 !important;
  margin-top: 1rem;

  &.sc-ion-alert-md {
    flex-wrap: wrap;
    justify-content: center;

    button {
      width: 100%;
      text-align: center;

      span {
        justify-content: center;
      }
    }
  }
}

.alert-button {
  font-weight: 500 !important;
  text-transform: none;
  border: solid var(--color-medium-grey) 2px !important;
  border-radius: 20px !important;
  margin: 0;

  &:first-child {
    border: none !important;
    background: var(--color-accent-gradient) !important;
    margin-bottom: 0.5rem;
  }
}
