.create-ssi-agent {
  .ssi-error-placeholder {
    height: 1.375rem;

    @media screen and (min-width: 250px) and (max-width: 370px) {
      height: 1rem;
    }
  }

  &.scrollable-page-layout .scrollable-page-content {
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: calc(100vh - (4rem + var(--ion-safe-area-top)));

      & .title {
        margin-top: 1rem;
      }
    }

    & > * {
      margin: 0;
    }

    & > ion-item {
      margin-top: 0;
    }

    & > .page-footer {
      margin-top: 1rem;
    }
  }

  .error-message-placeholder {
    display: none;
  }

  .error-message {
    text-align: left;

    > p {
      margin: 0;
    }
  }

  .connect-url-input,
  .boot-url-input {
    margin-bottom: 0.25rem;
  }

  .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }
}

.ssi-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: rgba(var(--ion-color-neutral-700-rgb), 0.2);
  backdrop-filter: blur(0.25rem);
}
