.identifiers-tab {
  .identifiers-tab-content-block {
    margin: 1.5rem 0;

    & > h3 {
      line-height: 1.5rem;
    }

    &:first-of-type {
      margin-bottom: 2.5rem;
    }

    .list-header {
      margin-bottom: 0.875rem;
    }

    ion-list {
      padding: 0;

      ion-item.card-item {
        --card-height: calc(4.8125rem * 200 / 350);
      }
    }
  }

  &.cards-identifier-nav {
    .identifier-favourite-cards {
      animation: indentifierFavouriteCardResize 0.25s ease;
      animation-fill-mode: forwards;

      @keyframes indentifierFavouriteCardResize {
        from {
          opacity: 0;
          overflow: hidden;
          margin-top: 0;
        }
        to {
          opacity: 0;
          height: 0;
          overflow: hidden;
          margin: 0;
        }
      }
    }

    .identifier-cards {
      .list-header {
        display: none;
      }
    }
  }

  &.favorite-identifier-nav {
    .identifier-cards {
      display: none;
    }

    .identifier-favourite-cards {
      .list-header {
        animation: indentifierFavouriteCardHeaderResize 0.25s ease;
        animation-fill-mode: forwards;

        @keyframes indentifierFavouriteCardHeaderResize {
          from {
            opacity: 0;
            overflow: hidden;
            height: 1.25rem;
          }
          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .identifiers-tab-content-block {
      margin-bottom: 1.6rem;

      .list-header {
        margin-bottom: 0.7rem;
      }

      ion-list {
        ion-item.card-item {
          --card-height: calc(4.8125rem * 200 / 350 * 0.9);
        }
      }
    }
  }
}
