.identifiers-tab {
  &.tab-layout {
    padding-inline: 0;
  }

  .tab-header,
  .cards-placeholder-container,
  ion-content>*:not(.identifier-favourite-cards),
  .card-slider-header {
    padding-inline: 1.25rem;
  }

  .cards-placeholder-container {
    margin-top: 2.5rem;
  }

  .placeholder-spacer {
    height: 3.5rem;
  }

  .identifiers-tab-content-block {
    margin: 1.5rem 0;

    & > h3 {
      line-height: 1.5rem;
    }

    .list-header {
      margin-bottom: 0.75rem;
    }

    ion-list {
      padding: 0;

      ion-item.card-item {
        --card-height: calc(4.8125rem * 200 / 350);
      }
    }

    .identifiers-tab-chips {
      margin-bottom: 1.5rem;
      display: flex;
      font-size: 1rem;
      font-weight: 400;

      @media screen and (min-width: 250px) and (max-width: 370px) {
        margin-bottom: 1.2rem;
        font-size: 0.8rem;
      }
    }
  }

  &.favorite-identifier-nav {
    .identifier-favourite-cards {
      .card-slider-header {
        animation: indentifierFavouriteCardHeaderResize 0.25s ease;
        animation-fill-mode: forwards;

        @keyframes indentifierFavouriteCardHeaderResize {
          from {
            opacity: 0;
            overflow: hidden;
            height: 1.25rem;
          }

          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }

    .identifier-cards,
    .multisig-container,
    .pending-container {
      display: none;
    }
  }

  &.cards-identifier-nav {
    .identifier-favourite-cards {
      animation: indentifierFavouriteCardResize 0.25s ease;
      animation-fill-mode: forwards;

      @keyframes indentifierFavouriteCardResize {
        from {
          opacity: 0;
          overflow: hidden;
          margin-top: 0;
        }

        to {
          opacity: 0;
          height: 0;
          overflow: hidden;
          margin: 0;
        }
      }
    }

    .identifier-cards {

      .list-header,
      .identifiers-tab-chips {
        animation: indentifierFavouriteCardHeaderResize 0.25s ease;
        animation-fill-mode: forwards;

        @keyframes indentifierFavouriteCardHeaderResize {
          from {
            opacity: 0;
            overflow: hidden;
            height: 1.25rem;
          }

          to {
            opacity: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .tab-header,
    .cards-placeholder-container,
    ion-content>*:not(.identifier-favourite-cards),
    .card-slider-header {
      padding-inline: 0.9rem;
    }

    .placeholder-spacer {
      height: 2.5rem;
    }

    .identifiers-tab-content-block {
      margin-bottom: 1.6rem;

      .list-header {
        margin-bottom: 0.6rem;
      }

      ion-list {
        ion-item.card-item {
          --card-height: calc(4.8125rem * 200 / 350 * 0.9);
        }
      }
    }
  }
}