.menu-tab {
  ion-header {
    margin-bottom: 1rem;
  }

  ion-content {
    .menu-input-row {
      justify-content: space-between;
      margin-bottom: 0.63rem;

      ion-col {
        margin: 0;
        padding: 0;

        &:first-of-type {
          margin-right: 0.75rem;
        }

        .menu-input {
          margin: 0;
          display: flex;
          background: white;
          flex-direction: column;
          justify-content: space-evenly;
          height: 5.875rem;
          padding: 1.25rem;
          box-shadow: none;
          --inner-border-width: 0;
          color: var(--ion-color-secondary);

          ion-icon {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    ion-header {
      margin-bottom: 0.8rem;
    }

    ion-content {
      .menu-input-row {
        margin-bottom: 0.5rem;

        ion-col {
          &:first-of-type {
            margin-right: 0.6rem;
          }

          .menu-input {
            height: 4.7rem;
            padding: 1rem;

            ion-icon {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
