.error-message {
  text-align: center;
  visibility: hidden;
  transition: visibility 1.5s ease-in-out;

  &.visible {
    visibility: visible;
  }

  p {
    color: var(--ion-color-danger);
  }
}

.error-message-placeholder {
  height: 2.375rem;
}

@media screen and (min-height: 300px) and (max-height: 600px) {
  .error-message-placeholder {
    height: 1.7rem;
  }
}
