.page-footer {
  --background: transparent;
  --padding-top: 0px;
  --padding-bottom: 0.2rem;
  --padding-start: 0px;
  --padding-end: 0px;

  ion-button {
    margin: 0.5rem 0 1rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.secondary-button.ion-activated,
    &.secondary-button.ion-activated.md {
      --ion-toolbar-color: var(--ion-color-neutral-100);
      --ion-toolbar-background: var(--ion-color-neutral-700);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    ion-button {
      margin-bottom: 0.8rem;
    }
  }
}
