.card-details-info-block {
  @mixin text-style {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--ion-color-neutral-700);
  }

  .card-details-info-block-inner {
    @include text-style;
    background: var(--ion-color-neutral-100);
    box-shadow: none;
    --ion-item-background: var(--ion-color-neutral-100);
    --inner-border-width: 0;
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    margin: 0;
  }

  .card-details-info-block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rotate-keys-button {
      margin: 0;
      min-height: 1rem;
      margin-bottom: 0.625rem;
      padding-right: 1.25rem;
      --background: transparent;
      --box-shadow: none;
      --color: var(--ion-color-neutral-700);
      --background-activated: var(--ion-color-neutral-100);

      ion-icon {
        opacity: 0.5;
        width: 1.375rem;
        height: 1.375rem;
      }

      &::part(native) {
        padding: 0;
      }

      &:not(:last-child) {
        margin-right: 0.75rem;
      }
    }
  }

  .card-details-info-block-title {
    @include text-style;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .card-details-info-block-header {
      .card-details-info-block-title,
      .rotate-keys-button {
        h4 {
          font-size: 0.8rem;
          line-height: 1.175rem;
        }

        ion-icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.card-block {
  &.flat-border-top {
    .card-details-info-block-inner {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.flat-border-bot {
    .card-details-info-block-inner {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.has-content {
    .card-header {
      padding-bottom: 0.75rem;
    }
  }

  .card-details-info-block-inner {
    padding: 1.25rem;

    ion-item {
      align-items: start;
      --min-height: auto;

      &.card-header {
        align-items: start;

        .card-details-info-content {
          color: var(--ion-color-neutral-800);
        }

        .card-details-info-block-key {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    &.has-content {
      .card-header {
        padding-bottom: 0.6rem;
      }
    }

    .card-details-info-block-inner {
      padding: 1rem;
      font-size: 0.8rem;
    }
  }
}
