.input-pid-modal {
  &.responsive-modal .responsive-modal-content {
    .page-header ion-buttons.buttons-last-slot {
      min-width: auto;

      .action-button-label {
        & > p {
          color: var(--ion-color-action-blue);
        }
      }
    }

    ion-input {
      border-radius: 0.5rem;
      border: 1px solid var(--ion-color-dark-grey);
      margin-top: 0.5rem;
      min-height: 1.25rem;

      input {
        overflow: hidden;
        padding: 0.875rem 1.25rem;
        font-size: 1rem;
        font-weight: 400;
        color: var(--ion-color-secondary);
      }

      &.has-focus {
        border-color: var(--ion-color-secondary);
      }
    }

    .input-highlight.sc-ion-input-md {
      display: none;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      ion-input {
        input {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
