.seed-phrase-module {
  position: relative;
  border: 1px solid var(--ion-color-dark-grey);
  border-radius: 1rem;
  --background: var(--ion-color-light-grey);
  box-shadow: none;

  .overlay {
    border-radius: 1rem;
    padding-inline: 1rem;

    p,
    ion-icon {
      color: var(--ion-color-light);
      margin: 0;
    }

    ion-icon {
      height: 1.4rem;
      width: 1.4rem;
      align-self: center;
    }

    ion-button {
      font-size: 1rem;
      height: 3.25rem;
      margin: 0 auto;
      color: var(--ion-color-light);
      --border-color: var(--ion-color-light);
    }

    @media screen and (min-width: 250px) and (max-width: 425px) {
      ion-button {
        font-size: 0.8rem;
        height: 2.5rem;
      }
    }
  }

  .seed-phrase-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

    ion-chip {
      border-radius: 0.5rem;
      font-weight: 400;
      width: 92%;
      margin: 0.3rem auto;
      padding-inline: 0.625rem;
      font-size: 1rem;

      &.empty-word {
        border: 1px dashed var(--ion-color-dark-grey);
        background-color: transparent;
      }

      .index {
        margin-right: 0.25rem;
      }
    }

    @media screen and (min-width: 250px) and (max-width: 425px) {
      padding: 0.25rem;

      ion-chip {
        padding-inline: 0.6rem;
        min-height: 1.75rem;

        span {
          font-size: 0.8rem;
        }

        .index {
          margin-right: 0.125rem;
        }
      }
    }
  }

  &.seed-phrase-visible {
    .overlay {
      display: none;
    }

    .seed-phrase-container {
      filter: none;
    }
  }

  &.seed-phrase-hidden {
    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      text-align: center;
      background: rgba(var(--ion-color-primary-rgb), 0.65);
    }

    .seed-phrase-container {
      filter: blur(5px);
    }
  }
}
