version: "3.9"

services:
  keria:
    container_name: idw-keria
    restart: unless-stopped
    build:
      context: github.com/WebOfTrust/keria.git#cfc55d4de3948663e01a8f55c994112453efc17b
      dockerfile: ./images/keria.dockerfile
    environment:
      - KERI_AGENT_CORS=true
    volumes:
      - ./keria-config/cf-backer-oobis.json:/keria/scripts/keri/cf/backer-oobis.json
      - keria-data:/usr/local/var/keri
    entrypoint: keria start --config-file backer-oobis --config-dir ./scripts
    ports:
      - 3901:3901
      - 3902:3902
      - 3903:3903
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keria.rule=Host(`${KERIA_HOST:-keria}`)"
      - "traefik.http.routers.keria.entrypoints=websecure"
      - "traefik.http.routers.keria.tls.certresolver=myresolver"
      - "traefik.http.routers.keria.service=keria"
      - "traefik.http.services.keria.loadbalancer.server.port=3901"

      - "traefik.http.routers.keria-ext.rule=Host(`${KERIA_EXT_HOST:-keria-ext}`)"
      - "traefik.http.routers.keria-ext.entrypoints=websecure"
      - "traefik.http.routers.keria-ext.tls.certresolver=myresolver"
      - "traefik.http.routers.keria-ext.service=keria-ext"
      - "traefik.http.services.keria-ext.loadbalancer.server.port=3902"
      
      - "traefik.http.routers.keria-boot.rule=Host(`${KERIA_BOOT_HOST:-keria-boot}`)"
      - "traefik.http.routers.keria-boot.entrypoints=websecure"
      - "traefik.http.routers.keria-boot.tls.certresolver=myresolver"
      - "traefik.http.routers.keria-boot.service=keria-boot"
      - "traefik.http.services.keria-boot.loadbalancer.server.port=3903"

  cred-issuance:
    container_name: cred-issuance
    build:
      context: ../cf-identity-wallet/services/credential-server
      dockerfile: ./Dockerfile
    restart: unless-stopped
    environment:
      - PORT=3010
      - OOBI_ENDPOINT=https://${CRED_HOST}
      - KERIA_ENDPOINT=http://keria:3901
      - KERIA_BOOT_ENDPOINT=http://keria:3903
    ports:
      - 3010:3010
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.credentials.rule=Host(`${CRED_HOST:-credentials}`)"
      - "traefik.http.routers.credentials.entrypoints=websecure"
      - "traefik.http.routers.credentials.tls.certresolver=myresolver"
      - "traefik.http.services.credentials.loadbalancer.server.port=3010"
    volumes:
      - cred-issuance:/root/.afj
  
  cred-issuance-ui:
    container_name: cred-issuance-ui
    build:
      context: ../cf-identity-wallet/services/credential-server-ui
      dockerfile: ./Dockerfile
    restart: unless-stopped
    environment:
      - REACT_APP_CREDENTIAL_ISSUANCE_SERVER_URL=https://${CRED_HOST}
      - REACT_APP_CREDENTIAL_ISSUANCE_SERVER_PORT=443
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.credentials-ui.rule=Host(`${CRED_UI_HOST:-credentials-ui}`)"
      - "traefik.http.routers.credentials-ui.entrypoints=websecure"
      - "traefik.http.routers.credentials-ui.tls.certresolver=myresolver"
      - "traefik.http.services.credentials-ui.loadbalancer.server.port=3020"
    ports:
      - 3020:80

volumes:
  keria-data:
  cred-issuance:

networks:
  default:
    name: traefik
    external: true
