ion-content {
  &.md > .setup-password {
    height: calc(100vh - var(--ion-safe-area-top));

    @media screen and (min-width: 250px) and (max-width: 370px) {
      height: 100vh;
    }
  }

  .setup-password {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;

    .page-info {
      text-align: center;
      margin-top: 5rem;

      ion-icon {
        width: 5rem;
        height: 5rem;
        color: var(--ion-color-primary-700);
      }

      h1 {
        margin: 1.5rem 0 0.75rem 0;
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        font-weight: 500;
      }
    }

    .page-footer {
      margin-bottom: 2.15rem;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      .responsive-page-content {
        .page-info {
          margin-top: 3.5rem;

          h1 {
            font-size: 1.25rem;
          }

          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
