.notification-details {
  background: var(--ion-color-light-grey);

  ion-header ion-toolbar {
    --background: var(--ion-color-light-grey);

    ion-button:not(.close-button-label),
    ion-button.md:not(.close-button-label) {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light);

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &::part(native) {
        padding: 0.5rem;
      }
    }
  }

  .notification-details-content > *,
  .notification-details-tab > *,
  .notification-notes-tab > * {
    margin-bottom: 1.56rem;
  }

  .notification-notes-empty {
    font-style: italic;
    text-align: center;
  }

  .notification-details-history-event {
    flex-direction: row;
    padding: 0.813rem 1rem;
    border-radius: 0.75rem;
    background-color: var(--ion-color-light-grey);

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    .notification-details-logo {
      width: 15%;
      align-self: center;

      img {
        width: 2.75rem;
        border-radius: 2.5rem;

        &.credential-miniature {
          height: 1.56rem;
          width: 2.75rem;
          border-radius: 0.125rem;
        }
      }
    }
  }

  .notification-details-card {
    ion-text {
      padding: 0.8125rem 0;
      display: block;
    }
  }

  .page-footer ion-icon {
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .notification-details-content > *,
    .notification-details-tab > *,
    .notification-notes-tab > * {
      margin-bottom: 1.2rem;
    }

    .notification-details-card {
      ion-text {
        padding: 0.44rem 0;
        font-size: 0.8rem;
      }
    }

    .notification-details-history-event {
      padding: 0.65rem 0.8rem;

      .notification-details-logo {
        img {
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 2.2rem;

          &.credential-miniature {
            height: 1.248rem;
            width: 2.2rem;
            border-radius: 0.125rem;
          }
        }
      }
    }
  }
}

.notification-detail-spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-details-history {
  .card-details-info-block-inner {
    padding: 1.25rem;

    display: flex;
    flex-direction: column;

    > * {
      display: flex;

      &:not(.notification-details-history-event) {
        margin: 0;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    > p {
      margin-left: 0.8rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    .card-details-info-block-inner {
      padding: 1rem;
      border-radius: 0.75rem;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
