.tab-layout {
  padding-inline: 1.25rem;

  &.card-details {
    ion-button.in-toolbar,
    ion-button.in-toolbar.md {
      background: var(--ion-color-light);
    }
  }

  ion-toolbar,
  .toolbar-container,
  ion-grid,
  ion-col {
    padding-inline: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-header ion-toolbar {
    margin-top: 0.625rem;

    ion-buttons {
      margin-inline: 0;
    }

    ion-button:not(.action-button-label),
    ion-button.md:not(.action-button-label) {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light-grey);

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &::part(native) {
        padding: 0.5rem;
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      ion-button:not(.action-button-label),
      ion-button.md:not(.action-button-label) {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    .action-button-label {
      margin: 0;
      font-size: 1rem;
      font-weight: 700;
      --opacity: 1;
      color: var(--ion-color-action-blue) !important;
      background: var(--ion-color-light-grey);

      &::part(native) {
        padding: 0;
      }
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  ion-title {
    padding: 0;

    h2,
    h3 {
      margin-bottom: 0;
      text-align: left;
      color: var(--ion-color-secondary);
    }
  }
}
