.tab-layout {
  padding-inline: 1.25rem;

  ion-toolbar,
  .toolbar-container,
  ion-grid,
  ion-col {
    padding-inline: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-header ion-toolbar {
    margin-top: 0.625rem;

    ion-buttons {
      margin-inline: 0;
    }

    &.has-back-button {
      ion-title {
        margin-left: 1rem;
      }
    }

    ion-button:not(.action-button-label),
    ion-button.md:not(.action-button-label) {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light-grey);

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &::part(native) {
        padding: 0.5rem;
      }
    }

    .action-button-label {
      margin: 0;
      font-size: 1rem;
      font-weight: 700;
      --opacity: 1;
      color: var(--ion-color-action-blue) !important;
      background: var(--ion-color-light-grey);

      &::part(native) {
        padding: 0;
      }
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  ion-title {
    padding: 0;
    position: initial;

    h2,
    h3 {
      margin-bottom: 0;
      text-align: left;
      color: var(--ion-color-secondary);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    padding-inline: 1.063rem;
    font-size: 0.8rem;

    ion-header ion-toolbar {
      margin-top: 0.531rem;

      &.has-back-button {
        ion-title {
          margin-left: 0.8rem;
        }
      }

      .back-button,
      ion-button:not(.action-button-label),
      ion-button.md:not(.action-button-label) {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 1.275rem;

        &:not(:first-child) {
          margin-left: 0.425rem;
        }

        &::part(native) {
          padding: 0.425rem;
        }
      }
      .action-button-label {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        --opacity: 1;
        color: var(--ion-color-action-blue) !important;
        background: var(--ion-color-light-grey);

        &::part(native) {
          padding: 0;
        }
      }

      ion-icon {
        font-size: 1.573em !important;
      }
    }
  }
}
