ion-modal#input-request {
  padding: 1.25rem;
  --height: fit-content;
  --border-radius: 1rem;
  --box-shadow: 0.125rem 0.125rem 0.625rem 0rem
    rgba(var(--ion-color-neutral-600-rgb), 0.3);

  &.connection-alias {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);

    .input-request-wrapper {
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .input-request-wrapper {
    padding: 1.56rem 1.25rem;

    h3 {
      font-weight: 500;
      text-align: center;
      line-height: 1.25rem;
    }

    ion-item.custom-input {
      margin-top: 1.563rem;

      ion-label {
        font-size: 1rem;
      }
    }

    .error-message {
      margin-top: 0.25rem;
      text-align: start;

      p {
        margin: 0;
      }
    }

    .error-message-placeholder {
      display: none;
    }

    ion-toolbar.page-footer {
      margin-top: 1.5rem;
      padding: 0;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 399px) {
    .input-request-wrapper {
      padding: 1.248rem 1rem;

      h3 {
        font-size: 0.95rem;
      }

      ion-item.custom-input {
        margin: 1.25rem 0;

        ion-label {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 374px) {
    padding: 1rem;
  }
}
