.create-identity {
  .type-input-title,
  ion-item.input-item ion-label[position="stacked"] {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  ion-item.input-item .input-line ion-input input::placeholder {
    font-size: 16px;
  }
  .hide-title ion-item.input-item ion-label[position="stacked"] {
    opacity: 0;
  }
  .error-message-container {
    height: 16px;
  }
  .type-input-title {
    margin-top: 9px;
  }
  .type-input {
    --background: var(--ion-color-light);
    --inner-border-width: 0;
    border: 1px solid var(--color-dark-grey);
    color: #363c4a;
    border-radius: 8px;
    width: 100%;
  }
  .selectedType {
    border: 1px solid #363c4a !important;
    --background: #d9d9d9;
  }
  .col-left {
    margin-right: 5px;
  }
  .col-right {
    margin-left: 5px;
  }
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .continue-button-container {
    margin-top: 27px;
  }
}
