.create-identity {
  ion-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .close-button-label {
    color: var(--ion-color-primary);
  }

  .type-input-title,
  ion-item.input-item ion-label[position="stacked"] {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
  }
  ion-item.input-item .input-line ion-input input::placeholder {
    font-size: 1rem;
  }
  .hide-title ion-item.input-item ion-label[position="stacked"] {
    opacity: 0;
  }
  .error-message-container {
    height: 1rem;
  }
  .type-input-title {
    margin-top: 0.563rem;
  }
  .type-input {
    --background: var(--ion-color-light);
    --inner-border-width: 0;
    border: 1px solid var(--ion-color-dark-grey);
    color: var(--ion-color-secondary);
    border-radius: 0.5rem;
    width: 100%;
  }
  .selectedType {
    border: 1px solid var(--ion-color-secondary) !important;
    --background: var(--ion-color-medium-grey);
  }
  .selectedTheme {
    border: 1px solid var(--ion-color-secondary) !important;
    --background: var(--ion-color-medium-grey);
  }
  .col-left {
    margin-right: 0.313rem;
  }
  .col-right {
    margin-left: 0.313rem;
  }
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .continue-button-container {
    margin-top: 1.688rem;
  }
}
