.create-identity {
  .type-input-title,
  ion-item.input-item ion-label[position=stacked] {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  ion-item.input-item .input-line ion-input input::placeholder {
    font-size: 16px;
  }
  .hide-title ion-item.input-item ion-label[position=stacked] {
    opacity: 0;
  }
  .type-input-title {
    margin-top: 25px;
  }
  .type-input {
    --background: var(--ion-color-light);
    --inner-border-width: 0;
    border: 1px solid var(--color-dark-grey);
    color: #363C4A;
    border-radius: 8px;
    width: 100%;
  }
  .col-left {
    margin-right: 5px;
  }
  .col-right {
    margin-left: 5px;
  }
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
