.card-details-info-block {
  > h4 {
    margin: 0.938rem;
    font-weight: 500;
  }

  .card-details-info-block-inner {
    margin: 0;
    display: flex;
    background: white;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem 1.25rem;
    box-shadow: none;
    --inner-border-width: 0;
    margin-bottom: 1.5rem;

    > * {
      min-height: 1.445rem;

      &:not(:last-child) {
        margin-bottom: 0.85rem;
      }
    }

    &:first-child {
      margin-right: 1rem;
    }

    h4 {
      font-weight: 500;
    }

    .card-details-info-block-line {
      display: flex;

      > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .card-details-info-block-text-icon {
        font-size: 1.125rem;
      }

      .card-details-info-block-icon,
      .card-details-info-block-text-icon {
        margin-right: 0.94rem;
      }

      .card-details-info-block-data {
        width: 100%;
        margin: 0.813rem 0;
        overflow: hidden;
        white-space: nowrap;
        --mask: linear-gradient(
          to right,
          rgba(var(--ion-color-secondary-rgb)) 0,
          rgba(var(--ion-color-secondary-rgb)) 85%,
          rgba(0, 0, 0, 0.5) 90%,
          rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask: var(--mask);
        mask: var(--mask);
      }
    }

    > .card-details-json-row {
      span span {
        font-weight: 400;
      }

      > * {
        --mask: linear-gradient(
          to right,
          rgba(var(--ion-color-secondary-rgb)) 0,
          rgba(var(--ion-color-secondary-rgb)) 85%,
          rgba(0, 0, 0, 0.5) 90%,
          rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask: var(--mask);
        mask: var(--mask);
      }
    }

    ion-button,
    ion-button.md {
      height: 1.7rem;
      min-height: 1.7rem;
      margin: 0;
      --background: transparent;
      --box-shadow: none;
      --color: var(--ion-color-secondary);
      --background-activated: var(--ion-color-light-grey);

      ion-icon {
        opacity: 0.5;
      }

      &::part(native) {
        padding: 0;
      }
    }

    ion-icon {
      width: 1.475rem;
      height: 1.475rem;
      margin: 0;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    > h4 {
      margin: 0.798rem;
    }

    .card-details-info-block-inner {
      padding: 0.5rem 1rem;

      > * {
        min-height: 1.156rem;

        &:not(:last-child) {
          margin-bottom: 0.68rem;
        }
      }

      .card-details-info-block-line {
        .card-details-info-block-text-icon {
          font-size: 0.956rem;
        }

        .card-details-info-block-icon,
        .card-details-info-block-text-icon {
          margin-right: 0.799rem;
        }

        .card-details-info-block-data {
          margin: 0.5rem 0;
        }
      }

      ion-button,
      ion-button.md {
        height: 1.445rem;
        width: 1.445rem;
      }

      ion-icon {
        width: 1.254rem;
        height: 1.254rem;
        margin: 0;
      }
    }
  }
}
