.card-details {
  background: var(--ion-color-light-grey);

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--scale-h) * 100);
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .page-header,
  .card-details-content {
    -webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 0.7s;
  }

  ion-header ion-toolbar {
    --background: var(--ion-color-light-grey);

    ion-button:not(.close-button-label),
    ion-button.md:not(.close-button-label) {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light);

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &::part(native) {
        padding: 0.5rem;
      }

      &.heart-button-favourite {
        background: rgba(var(--ion-color-danger-rgb), 0.15) !important;

        .heart-icon-favourite {
          color: var(--ion-color-danger);
        }
      }
    }
  }

  &.archived-credential {
    .action-button-label,
    .action-button-label.md {
      background: none;
    }
  }

  ion-content.scrollable-page-content,
  ion-content.scrollable-page-content.md {
    > *:first-child {
      margin-top: 1.5rem;
    }
  }

  .card-details-content {
    color: var(--ion-color-secondary);

    .card-details-info-block-line,
    .card-details-json-column,
    .card-details-json-row {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      color: var(--ion-color-primary);

      strong {
        text-transform: capitalize;
        margin-right: 0.35rem;
      }
    }

    .card-details-json-row {
      display: flex;
      flex-direction: row;
    }

    .card-details-attributes-id {
      strong {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .card-details-json-nested {
      background-color: var(--ion-color-light-grey);
      padding: 0.45rem 1rem;

      &:first-of-type {
        margin-top: 1rem;
        padding-top: 1rem;
        border-radius: 1rem 1rem 0 0;
      }

      &:last-of-type {
        padding-bottom: 1rem;
        border-radius: 0 0 1rem 1rem;
      }

      span {
        font-weight: 400;
      }
    }

    > * {
      margin: 1.56rem 0 1rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    &.archived-credential {
      .action-button-label,
      .action-button-label.md {
        font-size: 0.8rem;
      }
    }

    ion-header ion-toolbar {
      ion-button:not(.close-button-label),
      ion-button.md:not(.close-button-label) {
        width: 2rem;
        height: 2rem;
        border-radius: 1.275rem;
      }
    }

    ion-content.scrollable-page-content,
    ion-content.scrollable-page-content.md {
      > *:first-child {
        margin-top: 1.275rem;
      }
    }

    .card-details-content {
      > * {
        margin: 1.326rem 0 0.85rem;
      }
    }
  }
}
