.agent-init-error-msg {
  margin: calc(var(--scale-h) * 30) 2rem 0 2rem;
  text-align: center;

  & > p {
    margin-bottom: 2rem;
  }
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
