.agent-init-error-msg {
  margin: 30vh 2rem 0 2rem;
  text-align: center;

  & > p {
    margin-bottom: 2rem;
  }
}
.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
