.identifier-options {
  .error-message-container {
    height: 1rem;
  }

  .close-button-label {
    color: var(--ion-color-neutral-800);
  }

  .custom-input {
    ion-label,
    .theme-input-title {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  h2 {
    text-align: left;
  }

  &.editor h2 {
    text-align: center;
  }

  .confirm-edit-button {
    margin-top: 1.5rem;
  }
}
