.password-criteria {
  .password-strength-meter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;

    .level-container {
      display: flex;
      align-items: center;
      width: 80%;

      &.weak > div.level:first-child {
        background: var(--ion-color-error-800);
      }

      &.medium > div.level:not(:last-child) {
        background: var(--ion-color-warning-800);
      }

      &.strong > div.level {
        background: var(--ion-color-success-800);
      }

      .level {
        margin-right: 0.25rem;
        background: var(--ion-color-neutral-300);
        border-radius: 0.25rem;
        width: 34%;
        height: 0.5rem;
      }
    }

    p {
      margin: 0;
    }
  }

  .accept-criteria {
    font-weight: 400;
    margin-top: 0.5rem;

    &.match-length {
      strong:nth-child(1) {
        text-decoration: line-through;
      }
    }

    &.lowercase {
      strong:nth-child(2) {
        text-decoration: line-through;
      }
    }

    &.uppercase {
      strong:nth-child(3) {
        text-decoration: line-through;
      }
    }

    &.has-number {
      strong:nth-child(4) {
        text-decoration: line-through;
      }
    }

    &.has-symbol {
      strong:nth-child(5) {
        text-decoration: line-through;
      }
    }
  }
}
