.verify-seed-phrase {
  .title {
    margin-top: 1rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - (4.5rem + var(--ion-safe-area-top)));
  }

  .seed-phrase-module:nth-of-type(1) {
    background: var(--ion-color-neutral-200);
  }

  .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .seed-phrase-module:nth-of-type(2) {
    border: none;
  }

  .page-footer {
    margin-top: auto !important;
  }

  .clear-button {
    display: flex;
    width: fit-content;
    margin: 1.25rem auto 1rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    &.scrollable-page-layout {
      padding: 0 0.9rem;

      .scrollable-page-content {
        & > * {
          margin: 0;
        }

        .clear-button {
          margin: 0.75rem auto;
        }

        & > .paragraph-top {
          margin: 0.2rem 0;
        }

        .page-footer {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
