.verify-seedphrase {
  ion-card {
    margin: 0;
    position: relative;
    border-radius: 1rem;
    box-shadow: none;

    &.container-top {
      border: 1px solid var(--ion-color-dark-grey);
      --background: var(--ion-color-light-grey);
    }

    &.container-bottom {
      --background: transparent;
      box-shadow: none;
    }

    .empty-word {
      border: 1px dashed var(--ion-color-dark-grey);
      background-color: transparent;
    }
  }
}
