.slides-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 28%;

  .slides {
    .swiper-slide {
      padding-top: 1.5rem;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin-bottom: 0.5rem;
        text-align: center;
      }

      p {
        text-align: center;
        color: var(--ion-color-neutral-700);
        padding-inline: 1.88rem;
      }

      img,
      svg {
        height: auto !important;
        width: 62vw !important;
      }

      @media screen and (min-height: 300px) and (max-height: 600px) {
        img,
        svg,
        .image-container {
          height: auto !important;
          width: 55vw !important;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    margin: 0.25rem 0;
  }

  .page-indicator,
  .page-indicator-active {
    margin: 0 0.25rem;
    background: var(--ion-color-neutral-400);
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }
  .play-container {
    position: absolute;
    right: 1.26rem;
  }
  .play-indicator {
    color: var(--ion-color-neutral-400);
    width: 2.0625rem;
    height: 2.0625rem;
    transition: transform 0.3s ease-out;
  }
  .play-indicator.clicked {
    transform: scale(1.2);
  }

  .page-indicator-active {
    width: 1.875rem !important;
    opacity: 1 !important;
    transition: width 1s;
  }

  .text-fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .text-fadein-down {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(2.5rem, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -2.5rem, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    padding-top: 14%;
  }
}
