.share-identity {
  h2 {
    text-align: left;
  }

  ion-col {
    display: flex;
    flex-direction: column;
  }

  ion-button,
  ion-button.md {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0;
    --background: transparent;
    --box-shadow: none;
    --color: var(--ion-color-secondary);
    --background-activated: var(--color-light-grey);

    &::part(native) {
      padding: 0;
    }
  }

  ion-icon {
    width: 1.475rem;
    height: 1.475rem;
    margin: 0;
  }

  #react-qrcode-logo {
    padding: 1.5rem;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(54, 60, 74, 0.2);
    border-radius: 16px;
  }

  .share-identity-divider {
    display: flex;
    margin-bottom: 1rem;

    .share-identity-divider-line {
      border-bottom: 1px solid var(--color-dark-grey);
      display: flex;
      flex-grow: 2;
      margin-bottom: 0.5rem;
    }
    .share-identity-divider-text {
      margin-inline: 0.5rem;
    }
  }

  .share-identity-option {
    display: flex;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
