@import 'styles/colors.scss';
@import 'styles/override.scss';
@import 'swiper/css';

:root {
  font-size: 0.9rem;
}

h3 {
  font-size: 1.2rem !important;
}

h3,
h4 {
  font-weight: bold !important;
}

p {
  white-space: break-spaces;
}
