.identifier-card-template {
  height: 13.375rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1.25rem 1.56rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;

  &.active:not(:first-child):hover {
    // @TODO - foconnor: We should avoid this - animating with top.
    position: absolute;
    top: 11.5rem;
    transition: top 1.5s;
  }

  &.active:not(:hover) {
    transform: translate3d(0, 100vh, 0);
    transition: 0.7s ease-out;
  }

  &:not(:first-child) {
    margin-top: -10rem;
    box-shadow: 0px -5px 5px rgba(54, 60, 74, 0.25);
  }

  .identifier-card-template-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--ion-color-light);

    &.pending {
      .card-body {
        margin-inline: 5rem;
      }

      .card-body,
      .card-footer-column-value {
        opacity: 0.4;
        border-radius: 0.25rem;
        background: var(--ion-color-secondary);
      }
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      .card-logo {
        display: flex;
        flex-direction: row;

        img {
          margin-right: 0.5rem;
          max-height: 1.375rem;
        }
      }

      ion-chip {
        max-height: 1.625rem;
        font-weight: 400;
        font-size: 0.75rem;
        background: var(--ion-color-medium-grey);
        border-radius: 0.25rem;
        padding: 0.375rem 0.625rem;

        ion-icon {
          width: 0.875rem;
          height: 0.875rem;
          margin: 0;
        }

        span {
          text-transform: capitalize;
          margin-left: 0.31rem;
        }
      }
    }

    .card-body {
      font-size: 0.625rem;
      letter-spacing: 0.094rem;
      text-align: center;
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-child .card-footer-column-value {
          width: 40vw;
        }

        &:last-child .card-footer-column-value {
          width: 20vw;
        }

        .card-footer-column-label {
          font-size: 0.625rem;
          font-weight: 700;
          color: white;
        }

        .card-footer-column-info {
          font-size: 0.875rem;
          font-weight: 700;
          color: var(--ion-color-light);
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    height: 10.7rem;
    margin-top: 1.275rem;
    padding: 1.06rem 1.326rem;
    border-radius: 0.85rem;
    font-size: 0.75rem;
    line-height: 1.169rem;

    &.active:not(:first-child):hover {
      top: 9.775rem;
    }

    &:not(:first-child) {
      margin-top: -8.8rem;
    }

    .identifier-card-template-inner {
      &.pending {
        .card-body {
          margin-inline: 4.25rem;
        }

        .card-body,
        .card-footer-column-value {
          border-radius: 0.2125rem;
        }
      }

      .card-header {
        .card-logo img {
          margin-right: 0.425rem;
          max-height: 1.169rem;
        }

        ion-chip {
          max-height: 1.38rem;
          font-weight: 400;
          font-size: 0.638rem;
          border-radius: 0.213rem;
          padding: 0.319rem 0.531rem;

          ion-icon {
            width: 0.744rem;
            height: 0.744rem;
          }

          span {
            margin-left: 0.264rem;
          }
        }
      }

      .card-body {
        font-size: 0.532rem;
        letter-spacing: 0.08rem;
      }

      .card-footer .card-footer-column {
        &:first-child .card-footer-column-value {
          width: 40vw;
        }

        &:last-child .card-footer-column-value {
          width: 20vw;
        }

        .card-footer-column-label {
          font-size: 0.532rem;
        }

        .card-footer-column-info {
          font-size: 0.744rem;
        }
      }
    }
  }
}
