.identifier-card-template {
  height: calc((100vw - 2.5rem) * (200 / 350));
  width: 100%;
  padding: 1.25rem 1.56rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.5rem 0rem
    rgba(var(--ion-color-neutral-500-rgb), 0.2);

  &.active:not(:first-child).picked-card {
    box-shadow: none;
    transition: transform 0.25s;
  }

  &.active.not-picked {
    transform: translate3d(0, 100vh, 0);
    transition: 0.5s ease-out;
  }

  &:not(:first-child) {
    margin-top: -45%;
  }

  .big-card-theme {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }

  .identifier-card-template-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--ion-color-neutral-200);

    &.pending {
      .card-body {
        margin-inline: 5rem;
      }

      .card-body,
      .card-footer-column-value {
        opacity: 0.4;
        border-radius: 0.25rem;
        background: var(--ion-color-neutral-700);
      }
    }

    .card-text {
      color: var(--ion-color-neutral-200);
      text-shadow: 0.125rem 0.125rem 0.25rem 0rem
        rgba(var(--ion-color-neutral-600-rgb), 0.8);

      &.time {
        color: var(--ion-color-neutral-100);
      }
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      .card-logo {
        display: flex;
        flex-direction: row;

        img {
          margin-right: 0.5rem;
          max-height: 1.375rem;
        }
      }

      ion-chip {
        max-height: 1.625rem;
        font-weight: 400;
        font-size: 0.75rem;
        background: var(--ion-color-neutral-300);
        border-radius: 0.25rem;
        padding: 0.375rem 0.625rem;

        ion-icon {
          width: 0.875rem;
          height: 0.875rem;
          margin: 0;
        }

        span {
          text-transform: capitalize;
          margin-left: 0.31rem;
        }
      }
    }

    .card-body {
      font-size: 0.625rem;
      letter-spacing: 0.094rem;
      text-align: center;
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-child .card-footer-column-value {
          width: 40vw;
        }

        &:last-child .card-footer-column-value {
          width: 20vw;
        }

        .card-footer-column-label {
          font-size: 0.625rem;
          font-weight: 700;
        }

        .card-footer-column-info {
          font-size: 0.875rem;
          font-weight: 700;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    height: calc((100vw - 1.8rem) * (200 / 350));
    padding: 1.06rem 1.326rem;
    border-radius: 0.85rem;
    font-size: 0.75rem;
    line-height: 1.169rem;

    .big-card-theme {
      svg {
        width: auto;
      }
    }

    .identifier-card-template-inner {
      &.pending {
        .card-body {
          margin-inline: 4.25rem;
        }

        .card-body,
        .card-footer-column-value {
          border-radius: 0.2125rem;
        }
      }

      .card-header {
        .card-logo img {
          margin-right: 0.425rem;
          max-height: 1.169rem;
        }

        ion-chip {
          max-height: 1.38rem;
          font-weight: 400;
          font-size: 0.638rem;
          border-radius: 0.213rem;
          padding: 0.319rem 0.531rem;

          ion-icon {
            width: 0.744rem;
            height: 0.744rem;
          }

          span {
            margin-left: 0.264rem;
          }
        }
      }

      .card-body {
        font-size: 0.532rem;
        letter-spacing: 0.08rem;
      }

      .card-footer .card-footer-column {
        &:first-child .card-footer-column-value {
          width: 40vw;
        }

        &:last-child .card-footer-column-value {
          width: 20vw;
        }

        .card-footer-column-label {
          font-size: 0.532rem;
        }

        .card-footer-column-info {
          font-size: 0.744rem;
        }
      }
    }
  }

  @media screen and (min-width: 480px) {
    height: 15.375rem;

    &:not(:first-child) {
      margin-top: -12rem;
    }
  }
}
