.credential-request-spinner-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(var(--ion-color-neutral-700-rgb), 0.2);
}
