ion-progress-bar {
  height: 0.6rem;
}

ion-item::part(native) {
  border-bottom: none;
}

ion-label.terms_and_conditions {
  margin-left: 1rem;
  white-space: break-spaces !important;
  font-size: 0.8rem !important;
}
