.custom-sign-request {
  .sign-request-header {
    height: 2.75rem;
  }

  & .page-header {
    ion-toolbar {
      --background: transparent;
      margin-top: 0.625rem;

      & > ion-title.md {
        margin: 0;
      }
    }
  }

  .sign-footer {
    padding: 0.5rem 0;

    .secondary-button::part(native) {
      border: none;
      color: var(--ion-color-error-800);
    }
  }

  .sign-info {
    margin: 0 0 0.75rem;
  }

  .sign-header {
    margin: 1.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-owner-logo {
      width: 5rem;
      height: 5rem;
      border-radius: 4rem;
      background-color: var(--ion-color-neutral-800);

      ion-icon {
        width: 5rem;
        height: 5rem;
        margin: 0 auto;
        fill: var(--ion-color-neutral-200);
      }
    }

    .sign-name {
      font-size: 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
      color: var(--ion-color-neutral-800);
    }

    .sign-link {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0;
      color: var(--ion-color-neutral-600);
    }
  }

  .sign-content {
    .sign-identifier {
      margin-bottom: 1.5rem;

      .identifier {
        display: block;
        padding: 0.75rem 0;

        @media screen and (min-width: 250px) and (max-width: 370px) {
          font-size: 0.8rem;
          padding: 0.25rem 0;
        }
      }

      .action-button {
        --color: var(--ion-color-neutral-500);
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .sign-data {
      & > .card-details-info-block-inner {
        .content-container {
          height: 0;
          transition: all 0.5s ease-in-out;
          overflow: hidden;

          .content {
            & > ion-item:last-of-type {
              margin-bottom: 0.5rem;
            }

            .sign-info-item {
              .card-details-info-block-data {
                display: flex;
                align-items: center;
                min-width: 0;

                .card-details-info-block-key {
                  flex-shrink: 1;
                }

                span {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                }
              }
            }
          }
        }

        .action-button {
          --color: var(--ion-color-neutral-500);
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      .card-details-nested-content {
        & > .card-details-info-block-inner {
          padding: 1rem;
        }
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > .card-details-info-block-inner > .sign-info-item {
        &:first-child {
          margin-top: 0.75rem;
        }

        &:last-child {
          margin-bottom: 0.75rem;
        }

        @media screen and (min-width: 250px) and (max-width: 370px) {
          &:first-child {
            margin-top: 0.5rem;
          }

          &:last-child {
            margin-bottom: 0.5rem;
          }
        }
      }

      .sign-string {
        display: block;
        padding: 0.75rem 0;
        font-weight: normal;
        @media screen and (min-width: 250px) and (max-width: 370px) {
          font-size: 0.8rem;
          padding: 0.25rem 0;
        }
      }
    }
  }
}
