@mixin expand-group {
  .nested-list-item {
    padding: 0.5rem 0;

    &:last-of-type {
      padding-bottom: 0;
    }

    ion-item {
      display: flex;
      align-items: center;
      height: 1.5rem;

      &::part(native) {
        padding: 0.75rem 0;
      }
    }

    &:not(.container-nested-list-item) {
      padding-left: 1.5rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .nested-list-item {
      padding: 0.4rem 0;

      ion-item {
        height: 1.2rem;
      }
    }
  }
}

.expand-attributes {
  @include expand-group;
}

.attributes-accordion-group {
  margin-bottom: 0;

  .accordion {
    --ion-background-color: var(--ion-color-neutral-100);
    ion-item {
      --min-height: auto;

      &.accordion-header {
        font-weight: 500;
        --padding-start: 0;
        --inner-padding-end: 0;
        // remove ripple effect
        --ripple-color: transparent;
        --background-activated: transparent;
        --background-activated-opacity: transparent;
        --background-focused: transparent;
        --background-focused-opacity: transparent;
        --background-hover: transparent;
        --background-hover-opacity: transparent;
        align-items: center;
        text-transform: capitalize;

        ion-icon {
          width: 1.3rem;
          height: 1.3rem;
          color: var(--ion-color-neutral-400);
          margin: 0 0.5rem 0 0;
        }
      }
    }

    @include expand-group;

    &.nested-attribute.accordion-expanding
      > [slot="header"]
      .ion-accordion-toggle-icon {
      transform: rotate(90deg);
    }

    &.nested-attribute.accordion-expanded
      > [slot="header"]
      .ion-accordion-toggle-icon {
      transform: rotate(90deg);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .accordion {
      ion-item {
        --min-height: auto;

        &.accordion-header {
          font-size: 0.8rem;

          ion-icon {
            width: 1rem;
            height: 1rem;
            margin: 0 0.4rem 0 0;
          }
        }
      }

      .nested-list-item {
        ion-item {
          &::part(native) {
            padding: 0.5rem 0;
          }
        }

        &:not(.container-nested-list-item) {
          padding-left: 1rem;
        }
      }
    }
  }
}
