.terms-and-conditions {
  padding-inline: 20px;
  background-color: var(--ion-color-light);

  ion-toolbar {
    padding: 1.5rem 0 0 !important;
  }

  ion-content {
    height: 90vh;
  }

  h2 {
    margin: 0 auto;
  }
}
