.delete-pending-modal {
  &.responsive-modal .responsive-modal-content .page-header ion-buttons {
    min-width: 10%;
  }

  .user-tips {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem !important;

    p {
      margin: 0 0 0.5rem;
    }

    .card-details-info-block-inner {
      background: rgba(var(--ion-color-dark-grey-rgb), 0.5);
      padding: 1rem 1.25rem;
      display: flex;
      flex-direction: row;

      .alert-icon {
        margin-left: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;

        ion-icon {
          color: var(--ion-color-secondary);
        }
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      margin-top: 0.25rem;
      margin-bottom: 1rem !important;
    }
  }
}
