.custom-sign-confirmation {
  .page-header {
    ion-toolbar {
      --background: transparent;
      margin-top: 0.625rem;
    }
  }

  .sign-confirmation-body {
    margin: 1.5rem 0;

    h3 {
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
    }

    p {
      line-height: 1.5rem;
    }
  }

  .page-footer {
    padding: 1rem 0;
    margin-bottom: 1rem;

    ion-button {
      direction: rtl;

      ion-icon {
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}
