ion-grid.qr-code-scanner {
  --scale-scan: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1.25rem;

  .qr-code-scanner-permission-text {
    display: none;
  }

  &.scan-unavailable {
    background: var(--ion-color-neutral-700);
  }

  &.no-permission,
  &.scan-unavailable {
    background: var(--ion-color-neutral-700);

    .qr-code-scanner-text {
      opacity: 0.25;
    }

    .qr-code-scanner-icon {
      opacity: 0.25;
    }

    .scan-icon {
      position: relative;

      .qr-code-scanner-permission-text {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--ion-color-neutral-100);
        font-weight: 500;
      }
    }
  }

  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .qr-code-scanner-text {
      display: block;
      text-align: center;
      width: 100%;
      color: var(--ion-color-neutral-100);
      padding-inline: 20vw;
    }

    .qr-code-scanner-icon {
      width: calc(var(--scale-scan) * 18rem);
      height: calc(var(--scale-scan) * 18rem);
      margin: 1.5rem 0;
      --ionicon-stroke-width: 0.938rem;
    }

    &.no-footer {
      margin-bottom: calc(var(--scale-scan) * 2rem);
    }
  }

  .scanner-spinner-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--ion-color-black-900);
  }

  .page-footer .secondary-button {
    opacity: 0.5;
    backdrop-filter: blur(0.33rem);
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    --scale-scan: 0.7;
    padding-inline: 0.9rem;

    ion-row.no-footer {
      margin-bottom: calc(var(--scale-scan) * 5rem);
    }
  }
}

.scanner-input-modal {
  &.responsive-modal .responsive-modal-content {
    .page-header ion-buttons.buttons-last-slot {
      min-width: auto;

      .action-button-label {
        & > p {
          color: var(--ion-color-primary-700);
        }
      }
    }

    .custom-input,
    .error-message,
    .scan-error-placeholder {
      margin-bottom: 0;
      text-align: left;
    }

    .scan-error-placeholder {
      height: 2.375rem;
    }
  }
}
