.qr-code-scanner-full-page {
  ion-header ion-toolbar {
    margin-top: 0.625rem;

    .back-button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.5rem;
      background: var(--ion-color-light-grey);
      margin-left: 1.25rem;
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }
}

.qr-code-scanner {
  height: calc(var(--scale-h) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;

  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .qr-code-scanner-text {
      display: block;
      text-align: center;
      width: 100%;
      color: var(--ion-color-light);
      padding-inline: calc(var(--scale-w) * 20);
    }

    .qr-code-scanner-icon {
      width: 18rem;
      height: 18rem;
      margin: 1.5rem 0;
      --ionicon-stroke-width: 0.938rem;
    }
  }
}
