ion-grid.qr-code-scanner {
  --scale-scan: 1;
  height: calc(var(--scale-h) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1.25rem;

  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .qr-code-scanner-text {
      display: block;
      text-align: center;
      width: 100%;
      color: var(--ion-color-light);
      padding-inline: calc(var(--scale-w) * 20);
    }

    .qr-code-scanner-icon {
      width: calc(var(--scale-scan) * 18rem);
      height: calc(var(--scale-scan) * 18rem);
      margin: 1.5rem 0;
      --ionicon-stroke-width: 0.938rem;
    }

    &.no-footer {
      margin-bottom: calc(var(--scale-scan) * 2rem);
    }
  }

  .scanner-spinner-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(3, 3, 33, 0.2);
  }

  .page-footer .secondary-button {
    opacity: 0.5;
    backdrop-filter: blur(0.33rem);
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    --scale-scan: 0.7;
    padding-inline: 0.9rem;

    ion-row.no-footer {
      margin-bottom: calc(var(--scale-scan) * 5rem);
    }
  }
}
