.delete-connection-modal-container {
  position: "absolute";
  top: 0;
  left: 0;
  width: 29.25rem;
  height: 13.25rem;
  padding: 1.25rem;

  button {
    border-radius: 1rem;
    text-transform: none;
    color: var(--text-color);

    &:hover,
    &:active {
      background-color: var(--color-primary-200);
    }
  }
}
