.identity-theme-selector {
  .identity-theme-input {
    justify-content: space-between;
    margin-bottom: 0.725rem;

    ion-col {
      height: 5.9375rem;
      padding: 0.5rem;
      max-width: calc(50% - 0.3rem);
      margin: 0.3rem 0;
      border-radius: 0.5rem;
      border: 1px solid var(--ion-color-dark-grey);
      background: var(--ion-color-light);

      &.selected-theme {
        border: 1px solid var(--ion-color-secondary) !important;
        background: var(--ion-color-medium-grey);
      }

      .theme-input {
        height: 100%;
        border-radius: 0.25rem;
        --background: var(--ion-color-light);
        --inner-border-width: 0;
        border: 1px solid var(--ion-color-dark-grey);
        color: var(--ion-color-secondary);
        border-radius: 0.5rem;

        .selected-theme-checkmark {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          background: var(--ion-color-primary-gradient);
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .selected-theme-checkmark-inner {
            width: 1.125rem;
            height: 1.125rem;
            margin: auto;
            border-radius: 1.125rem;
          }
        }

        &::part(native) {
          background-color: transparent;
        }
      }
    }
  }
}
