.cloud-error {
  .responsive-page-content {
    justify-content: space-between;

    ion-card {
      margin: 1.5rem 0 0 0;
      display: flex;
      background: var(--ion-color-medium-grey);
      border-radius: 1rem;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem 3rem 1rem 1.25rem;
      box-shadow: none;
      --inner-border-width: 0;
      position: relative;

      p {
        white-space: pre-line;
        margin: 0;
      }

      .alert-icon {
        ion-icon {
          position: absolute;
          top: 1rem;
          right: 1.25rem;
          color: var(--ion-color-secondary);
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
