.credential-detail-page {
  padding: 0 2.5rem 2.5rem;

  .credential-detail-page-container {
    display: flex;
    gap: 2.5rem;
  }

  .page-header {
    margin: 1.5rem 0;
  }

  .info-card {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(var(--text-color-rgb), 0.16);
    width: 300;
    height: fit-content;
    background-color: var(--color-neutral-100);

    .info-card-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      .headerName {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-neutral-800);
      }
    }

    .attribute {
      margin-bottom: 1.5rem;
      & > * {
        text-align: left;
      }
    }
  }

  .credentials-table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(var(--text-color-rgb), 0.16);
    flex: 1;

    .label {
      padding: 0.25rem 0.75rem;
      width: fit-content;
      font-size: 0.75rem;
      line-height: 1.25rem;
      border-radius: 0.5rem;

      &.revoked {
        color: var(--color-error-800);
        background: var(--color-error-100);
      }

      &.issued {
        background: var(--color-success-100);
        color: var(--color-success-800);
      }
    }

    .MuiTableBody-root tr {
      th,
      td {
        max-width: 10rem;
      }

      @media only screen and (max-width: 744px) {
        td,
        th {
          max-width: 6rem;
        }
      }

      th:first-of-type {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media screen and (max-width: 1060px) {
    .credential-detail-page-container {
      flex-direction: column;
    }

    .info-card {
      width: auto;
      min-width: 300;
    }
  }
}
