.offline-page {
  z-index: 2147483640 !important; // less than lock page value but can greater than other page.

  .responsive-page-content {
    justify-content: center;
  }

  .page-content-container {
    text-align: center;
    margin-bottom: calc(2rem + var(--ion-safe-area-top));

    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.25rem;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      h1 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }
}
