.list-header {
  display: flex;
  align-items: center;
  justify-content: start;

  &.has-actions {
    justify-content: space-between;
  }

  .list-header-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--ion-color-neutral-800);
  }

  .list-header-actions {
    display: flex;
    align-items: center;

    .header-action {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      color: var(--ion-color-neutral-700);
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        margin-right: 0.5rem;
      }

      &.active {
        background-color: var(--ion-color-neutral-700);

        ion-icon {
          color: var(--ion-color-neutral-200);
        }
      }
    }

    & ion-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .list-header-title {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    .list-header-actions .header-action {
      width: 1.6rem;
      height: 1.6rem;

      ion-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
