.info-card {
    box-shadow: none;
    border-radius: 0.5rem;
    background: var(--ion-color-neutral-300);
    display: flex;
    color: var(--ion-color-neutral-700);
    padding: 1rem 1.25rem;

    &.danger {
        &.info-card {
          background: rgba(var(--ion-color-error-800-rgb), 0.1);
  
          .alert-icon {
            ion-icon {
              color: var(--ion-color-danger);
            }
          }
        }
      }

    p {
        margin: 0;
    }

    ion-icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.25rem;
    }
}