.cred-card-detail {
  .tab-header {
    ion-button {
      animation: zoom 0.25s ease-in-out;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
