.cred-card-detail {
  .tab-header {
    ion-button {
      animation: zoom 0.25s ease-in-out;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .card-details-content {
    animation: expand 0.7s ease-in-out;

    @keyframes expand {
      from {
        height: 0;
        overflow-y: hidden;
        opacity: 0;
        margin-top: -1.56rem;
      }
      to {
        height: 100vh;
        overflow-y: hidden;
        opacity: 1;
        margin-top: -1.56rem;
      }
    }
  }
}

@media screen and (min-width: 250px) and (max-width: 370px) {
  .cred-details-content {
    animation: expand 0.7s ease-in-out;

    @keyframes expand {
      from {
        height: 0;
        overflow-y: hidden;
        opacity: 0;
        margin-top: -1.326rem;
      }
      to {
        height: 100vh;
        overflow-y: hidden;
        opacity: 1;
        margin-top: -1.326rem;
      }
    }
  }
}
