ion-modal.create-identifier-modal {
  &.blur .create-identifier-modal-content > *:not(.spinner-container) {
    filter: blur(0.1rem);
  }

  ion-toolbar {
    &.page-footer {
      padding: 0;
    }

    ion-buttons ion-button::part(native) {
      opacity: 1;
    }
  }

  .create-identifier-modal-content {
    .spinner-container {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      background: rgba(3, 3, 33, 0.2);
    }

    ion-grid {
      padding: 0;
    }

    .identifier-name ion-label,
    .type-input-title,
    .identifier-theme .theme-input-title {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.375rem;
      margin: 0 0 0.625rem;
      transform: none;
    }

    div.identifier-name {
      margin-bottom: 0.56rem;

      &.identifier-name-error ion-item.custom-input .input-line {
        border-color: var(--ion-color-danger);
      }

      ion-item.custom-input {
        margin-bottom: 0;

        .input-line ion-input,
        .input-line ion-input input::placeholder,
        .identifier-type {
          font-size: 1rem;
          font-weight: 400;
        }

        .input-line ion-input input::placeholder {
          color: rgba(var(--ion-color-secondary-rgb), 0.75);
        }
      }

      .error-message-container {
        height: 1rem;

        p {
          font-size: 0.875rem;
          margin: 0 auto;
          text-align: left;
        }
      }
    }

    .identifier-type-selector,
    .aid-type-selector {
      ion-col {
        padding: 0;
        margin: 0 0.3rem;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        ion-item {
          &.type-input {
            --background: var(--ion-color-light);
            --inner-border-width: 0;
            border: 1px solid var(--ion-color-dark-grey);
            color: var(--ion-color-secondary);
            border-radius: 0.5rem;
          }

          &.selected-type {
            border: 1px solid var(--ion-color-secondary) !important;
            --background: var(--ion-color-medium-grey);
          }

          &::part(native) {
            min-height: 3.125rem;
            border-radius: 0.5rem;
          }

          span {
            width: 100%;
            text-align: center;
            font-weight: 400;
          }
        }
      }
    }

    .scrollable-page-content {
      .multisig-subtitle {
        text-align: center;
      }

      ion-searchbar {
        padding: 0;
        min-height: 1rem;
      }

      ion-list {
        background: transparent;

        ion-item {
          --inner-padding-end: 0;

          &::part(native) {
            padding: 0;
            background: var(--ion-color-light);
          }

          ion-label {
            display: flex;
            flex-direction: row;

            * {
              align-self: center;
            }

            img {
              width: 2.75rem;
              height: 2.75rem;
              border-radius: 2rem;
            }

            .connection-name {
              font-size: 1rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
              width: 100%;
              margin-left: 1rem;
            }

            ion-checkbox {
              --size: 2rem;
              width: 2rem;
              margin: 0 0 0 0.375rem;

              &.checkbox-checked {
                --checkbox-background-checked: var(
                  --ion-color-primary-gradient
                );
                --checkmark-color: var(--ion-color-primary);

                &::part(container) {
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 375px) {
    .create-identifier-modal-content {
      ion-item.custom-input .input-line ion-input,
      ion-item.custom-input .input-line ion-input input::placeholder,
      .identifier-name ion-label,
      .identifier-type .type-input-title,
      .identifier-theme .theme-input-title {
        font-size: 0.8rem;
      }

      .identifier-name ion-label,
      .identifier-type .type-input-title,
      .identifier-theme .theme-input-title {
        margin-bottom: 0.4rem;
      }

      .error-message-container p {
        font-size: 0.7rem;
        margin-top: 0.109rem;
      }

      .identifier-type ion-item::part(native) {
        min-height: 2.5rem;
        font-size: 0.8rem;
      }
    }
  }
}
