.creds-options {
  .close-button-label {
    color: var(--ion-color-primary);
  }

  h2 {
    text-align: left;
  }

  &.viewer h2 {
    text-align: center;
  }

  .creds-options-main {
    margin-top: 0.5rem;

    ion-col {
      display: flex;
      flex-direction: column;
    }

    ion-button,
    ion-button.md {
      width: 2.8125rem;
      height: 2.8125rem;
      margin: 0;
      --background: transparent;
      --box-shadow: none;
      --color: var(--ion-color-secondary);
      --background-activated: var(--color-light-grey);

      &::part(native) {
        padding: 0;
      }
    }

    ion-icon {
      width: 1.475rem;
      height: 1.475rem;
      margin: 0;
    }

    .creds-option {
      display: flex;

      > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .creds-options-inner {
    .error-message,
    .error-placeholder {
      margin-bottom: 1rem;
    }

    .error-placeholder {
      height: 1.375rem;
    }
  }
}
