.welcome-page.responsive-page-layout {
  height: 100vh;
  align-items: center;
  background-color: var(--ion-color-neutral-800);
  padding-top: 0;

  ion-header.page-header {
    .action-button-label p {
      color: var(--ion-color-neutral-100) !important;
    }
  }

  .responsive-page-content {
    justify-content: center;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
      margin: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2.1875rem;
      height: 85%;
      text-align: center;

      h2,
      p {
        color: var(--ion-color-neutral-200);
      }

      h2 {
        margin-bottom: 1rem;
      }
    }

    .page-footer {
      ion-icon {
        color: var(--ion-color-neutral-800) !important;
      }

      .primary-button {
        --background: var(--ion-color-primary-400);
        --color: var(--ion-color-neutral-800);
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      .content {
        padding: 0 1.5rem;

        .icon {
          padding: 1.5rem;

          ion-icon {
            color: var(--ion-color-primary-400);
            width: 10.5rem;
            height: 10.5rem;
          }
        }
      }
    }
  }
}
