.card-details-info-block-line {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 3rem;

  .card-details-info-block-line-start-icon {
    margin: 0 0.5rem 0 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
  }

  ion-button.action-button {
    margin: 0;
    --background: transparent;
    --box-shadow: none;
    --color: var(--ion-color-neutral-400);
    --background-activated: var(--ion-color-neutral-100);

    ion-icon {
      opacity: 0.5;
      width: 1.375rem;
      height: 1.375rem;
    }

    &::part(native) {
      padding: 0;
    }

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  .card-details-info-content {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--ion-color-neutral-700);

    .card-details-info-block-subtext {
      font-weight: 400;
    }

    .card-details-info-block-key {
      margin-right: 0.25rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    .card-details-info-block-data {
      flex: 1;
      margin: 0;
    }

    &.no-hide-overflow {
      display: block;
    }

    .mask {
      overflow: hidden;
      white-space: nowrap;
      --mask: linear-gradient(
        to right,
        rgba(var(--ion-color-neutral-500-rgb)) 0,
        rgba(var(--ion-color-neutral-500-rgb)) 85%,
        rgba(var(--ion-color-neutral-700-rgb), 0.5) 90%,
        rgba(var(--ion-color-neutral-700-rgb), 0) 100%
      );
      -webkit-mask: var(--mask);
      mask: var(--mask);
    }
  }
}

@media screen and (min-width: 250px) and (max-width: 370px) {
  .card-details-info-block-line {
    --min-height: 2rem;

    .card-details-info-block-line-start-icon {
      margin: 0 0.5rem 0 0;
      width: 1.254rem;
      height: 1.254rem;
    }

    .card-details-info-content {
      font-size: 0.8rem;
    }

    ion-button.action-button {
      min-height: 1.25rem;
      ion-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
