.page-header {
  &.show-header {
    visibility: visible;
  }

  &.hide-header {
    visibility: hidden;
    height: 0;
  }

  ion-toolbar {
    --background: transparent;

    ion-title.md {
      margin-left: 0;
    }
  }

  ion-toolbar,
  ion-grid,
  ion-col {
    padding-inline: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-toolbar,
  ion-buttons,
  ion-button {
    margin: 0;
  }

  ion-toolbar {
    ion-buttons.has-action.md {
      min-width: 10%;
    }

    ion-buttons ion-button {
      &.md {
        --ripple-color: transparent;
      }

      color: var(--ion-color-secondary);

      &.button-has-icon-only {
        width: 2.81rem;
        height: 2.81rem;
        border-radius: 1.5rem;
        background: var(--ion-color-light-grey);
      }

      &.close-button-label,
      &.action-button-label {
        font-size: 1rem;
        font-weight: 700;

        &.md {
          font-size: 0.8rem;
        }
      }

      &.close-button-label {
        --padding-start: 0px;
      }

      &.action-button-label {
        --padding-end: 0px;
        &[disabled="false"] {
          color: var(--ion-color-blue);
        }
      }

      &[disabled],
      &.button-disabled > p {
        color: var(--ion-color-dark-grey) !important;
        opacity: 1;
      }

      ion-icon {
        font-size: 1.85em !important;
      }
    }

    .progress-bar-container {
      &.has-left {
        margin-left: 1.25rem;
      }

      ion-progress-bar,
      ion-progress-bar::part(progress) {
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  ion-title {
    padding: 0;
    text-align: center;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    ion-toolbar {
      ion-buttons ion-button {
        &.button-has-icon-only {
          width: 2.3rem !important;
          height: 2.3rem !important;

          &::part(native) {
            padding: 0.35rem;
          }
        }
      }

      .progress-bar-container {
        &.has-left {
          margin-left: 0.75rem;
        }

        ion-progress-bar,
        ion-progress-bar::part(progress) {
          height: 0.35rem;
          border-radius: 0.35rem;
        }
      }
    }
  }
}
