# Listen on all interfaces, default Caddy port
:2015 {

	# This is the pattern that will be used to detect
	# WebSockets
	@websockets {
    header Connection *Upgrade*
		header Upgrade websocket
  }

	# Handle any traffic that matches the `@websockets` pattern
	handle @websockets {
		reverse_proxy http://mediator:3001
	}

	# Handle all other traffic.
	handle {
		@options {
        method OPTIONS
    	}
    	header {
        	Access-Control-Allow-Origin *
        	Access-Control-Allow-Credentials true
        	Access-Control-Allow-Methods *
        	Access-Control-Allow-Headers *
        	defer
    	}	
		reverse_proxy http://mediator:3000 {
        	header_down -Access-Control-Allow-Origin
    	}
		respond @options 204
	}

	# What logs should look like.
	log {
			output stdout 
			# format single_field common_log
			level DEBUG
	}
}
