.connection-details-page {
  padding: 0 2.5rem 2.5rem;

  .connection-details-page-container {
    display: flex;
    gap: 2.5rem;
  }

  .page-header {
    margin: 1.5rem 0;
  }

  .info-card {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(var(--text-color-rgb), 0.16);
    width: 18.75rem;
    height: fit-content;
    background-color: var(--color-neutral-100);

    .info-card-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      .header-name {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 13rem;
      }
    }

    .attribute {
      margin-bottom: 1.5rem;
      & > * {
        text-align: left;
      }
    }
  }

  .credential-table-container {
    flex: 1;
  }

  .credentials-table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(var(--text-color-rgb), 0.16);
    flex: 1;

    .label {
      padding: 0.25rem 0.75rem;
      width: fit-content;
      font-size: 0.75rem;
      line-height: 1.25rem;
      border-radius: 0.5rem;

      &.revoked {
        color: var(--color-error-800);
        background-color: var(--color-error-100);
      }

      &.issued {
        background: var(--color-success-100);
        color: var(--color-success-800);
      }
    }
  }

  @media screen and (max-width: 1060px) {
    .connection-details-page-container {
      flex-direction: column;
    }

    .info-card {
      width: auto;
      min-width: 300;

      .info-card-header .header-name {
        max-width: 48rem;
      }
    }
  }
}
