.connection-identifier-selector {
  & .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .responsive-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 1rem;
      line-height: 1.115rem;
      margin-top: 0.75rem;
      margin-bottom: 1.75rem;
      font-weight: 500;
      text-align: center;
    }

    .identifier-list {
      .checkbox {
        width: fit-content;
        --checkbox-background-checked: var(--ion-color-primary-700);
        --checkmark-color: var(--ion-color-primary-100);
        --border-width: 0.115rem;
        flex: none;

        &.checkbox-checked {
          --border-width: 0;
        }
      }

      .card-item {
        --background-activated: transparent;
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      .title {
        font-size: 0.85rem;
        margin-bottom: 1.5rem;
      }

      .checkbox {
        --size: 1.25rem;
      }
    }
  }
}
