.page-layout {
  ion-toolbar,
  .page-content ion-grid {
    padding-inline: 0.5rem !important;
  }

  ion-header ion-toolbar {
    padding: 0 6px;
    ion-button,
    ion-back-button {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--color-light-grey);
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  .progress-bar-container,
  ion-title {
    margin-left: 1rem;
  }

  ion-progress-bar,
  ion-progress-bar::part(progress) {
    height: 6px;
    border-radius: 6px;
  }

  ion-title {
    padding: 0;
  }

  .page-footer ion-button {
    margin: 0.75rem auto;
  }
}
