.page-layout {
  padding-inline: 20px;
  ion-toolbar,
  .toolbar-container,
  ion-grid,
  ion-col {
    padding-inline: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-header ion-toolbar {
    ion-button,
    ion-back-button {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      background: var(--color-light-grey);
    }

    ion-icon {
      font-size: 1.85em !important;
    }
  }

  .progress-bar-container,
  ion-title {
    margin-left: 1rem;
  }

  ion-progress-bar,
  ion-progress-bar::part(progress) {
    height: 6px;
    border-radius: 6px;
  }

  ion-title {
    padding: 0;
  }

  .page-footer ion-button {
    margin: 0.75rem auto 2.1875rem;
  }

  .back-button {
    margin-right: 8px;
    margin-top: 4px;
  }
}
