.page-layout {
  ion-back-button {
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 1.5rem;
    background: var(--color-light-grey);

    &::part(native) {
      padding: 0.6rem;
    }
  }

  ion-progress-bar,
  ion-progress-bar::part(progress) {
    height: 6px;
    border-radius: 6px;
  }

  ion-toolbar ion-grid {
    padding: 0;
  }

  ion-header {
    margin: 0 auto;
    max-width: 95vw;
  }

  ion-content {
    --padding-start: 0.7rem;
    --padding-end: 0.7rem;
  }

  h1 {
    margin-top: 0;
  }
}
