.passcode-login {
  .responsive-page-content {
    justify-content: space-evenly;

    .passcode-login-title,
    .passcode-login-description {
      text-align: center;
    }

    .passcode-login-title {
      margin-top: 4rem;

      @media screen and (min-height: 300px) and (max-height: 550px) {
        margin-top: 2rem;
      }
    }
  }
}
