.settings-content,
.nested-content {
  margin-top: 2rem;
  --ion-item-background: var(--ion-color-neutral-100);

  .settings-section-title {
    margin: 0.625rem 1.25rem;
  }

  .settings-section-title-placeholder {
    margin-top: 2.25rem;
  }

  ion-card {
    margin: 0;
    display: flex;
    background: var(--ion-color-neutral-100);
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem 1.25rem;
    box-shadow: none;
    --inner-border-width: 0;
    margin-bottom: 1.5rem;

    ion-list {
      padding: 0;
    }

    ion-item.settings-item {
      --min-height: 3rem;
      --inner-padding-end: 0px;

      &::part(native) {
        padding: 0;
      }

      ion-icon {
        font-size: 1.5rem;

        &:first-child {
          margin-right: 1rem;
        }

        &:last-child {
          color: var(--ion-color-neutral-400);
        }
      }

      ion-icon,
      ion-label,
      ion-note {
        color: var(--ion-color-neutral-700);
      }

      ion-note {
        font-size: 1rem;
        opacity: 70%;
      }

      ion-label {
        margin: 0.813rem 0;
        font-weight: 500;
      }

      .toggle-button {
        flex: none;
        width: fit-content;
        &.toggle-checked {
          --track-background-checked: var(--ion-color-primary-700);

          &.md {
            --handle-background-checked: var(--ion-color-neutral-100);
          }
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    margin-top: 1rem;

    ion-card {
      padding: 0.5rem 1rem;
    }

    .settings-section-title,
    ion-item.settings-item ion-label,
    ion-note {
      font-size: 0.8rem !important;
    }

    ion-item.settings-item {
      --min-height: 2.4rem;

      ion-icon {
        font-size: 1.2rem;

        &:first-child {
          margin: 0 0.8rem 0 0;
        }

        &:last-child {
          margin: 0 0 0 0.8rem;
        }
      }

      ion-label {
        margin: 0.65rem 0;
      }
    }
  }
}
