version: "3.9"

services:
  keria:
    container_name: idw-keria
    restart: unless-stopped
    build:
      context: github.com/WebOfTrust/keria#56c20c779cd1a93bb33fd25271e58ae802618653
      dockerfile: ./images/keria.dockerfile
    environment:
      - KERI_AGENT_CORS=true
    volumes:
      - ./keria-config/cf-backer-oobis.json:/keria/scripts/keri/cf/backer-oobis.json
      - keria-data:/usr/local/var/keri
    entrypoint: keria start --config-file backer-oobis --config-dir ./scripts
    ports:
      - 3901:3901
      - 3902:3902
      - 3903:3903
  vlei:
    container_name: vlei-server
    restart: unless-stopped
    build:
      context: github.com/WebOfTrust/vLEI#ed982313dab86bfada3825857601a10d71ce9631
      dockerfile: ./container/Dockerfile
    entrypoint: vLEI-server -s ./schema/acdc -c ./samples/acdc/ -o ./samples/oobis/
    ports:
      - 7723:7723

  caddy:
    container_name: caddy
    restart: unless-stopped
    image: caddy
    hostname: caddy
    ports:
      - 2015:2015
    volumes:
      - ./mediator-config/Caddyfile:/etc/caddy/Caddyfile:z
    healthcheck:
      test: nc -zv localhost:2019 || exit -1
      interval: 3s
      timeout: 3s
      start_period: 10s
      retries: 5

  mediator:
    container_name: mediator
    build:
      context: ../aries-mediator-service/afj
      dockerfile: ./Dockerfile
    volumes:
      - mediator-wallet:/root/.indy_client
    restart: unless-stopped
    environment:
      - AGENT_ENDPOINTS=http://dev.mediator.cf-keripy.metadata.dev.cf-deployments.org:2015,ws://dev.mediator.cf-keripy.metadata.dev.cf-deployments.org:2015

volumes:
  keria-data:
  mediator-wallet:
