.passcode-page {
  .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
  }
  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--ion-color-secondary);
    margin: 0 8px;
  }
  .circle-fill {
    background: var(--ion-color-secondary);
  }
  .pin-error {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ff5553;
    margin-bottom: 35px;
    height: 16px;
  }

  .number-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 44px;
    color: #000000;
  }

  .number-labels {
    display: flex;
    margin-top: 3px;
    margin-left: 2px;
    text-align: center;
  }

  .number-labels span {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 2px;
  }

  .board-button {
    width: 88px;
    height: 88px;
    --border-radius: 50px;
    --background: var(--color-medium-grey);
    --background-activated: var(--color-dark-grey);
  }

  .backspace-button {
    width: 88px;
    height: 88px;
    --border-radius: 50px;
    --background: var(--ion-color-primary);
    --color: white;
  }
  .backspace-icon {
    width: 50px;
    height: 50px;
  }
}
.continue-col {
  text-align: center;
  margin-top: 55px;
}
.continue-button {
  display: flex;
  align-items: center;
  gap: 10px;
  --border-radius: 30px;
  height: 52px;
  margin: 30px 25px;
}

.error-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.error-message.visible {
  opacity: 1;
}
