.set-passcode {
  .responsive-page-content {
    justify-content: space-evenly;

    .set-passcode-title,
    .set-passcode-description {
      text-align: center;
    }

    .forgot-your-passcode-placeholder {
      height: 4.625rem;
    }

    @media screen and (min-height: 300px) and (max-height: 600px) {
      .forgot-your-passcode-placeholder {
        height: 3.875rem;
      }
    }
  }
}
