.custom-toast {
  transition: transform 200ms;
  --ion-color-secondary: var(--toast-secondary-bg-color) !important;

  &::part(button cancel) {
    min-height: auto;
    border-left: 1px solid var(--ion-color-neutral-400);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--ion-color-neutral-100);
  }

  &.md {
    &::part(button cancel) {
      border-radius: unset;
    }
  }
}
