ion-item.custom-input {
  --background: transparent;
  --border-width: 0;
  --inner-border-width: 0;
  --padding-start: 0;
  --inner-padding-end: 0;

  &.has-action {
    .input-label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.625rem;
    }

    ion-label[position="stacked"] {
      margin-bottom: 0;
    }
  }

  ion-label[position="stacked"] {
    margin-bottom: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--ion-color-neutral-700);

    &.label-stacked.sc-ion-label-md-h {
      transform: none;
    }

    .custom-input-optional {
      margin-left: 0.25rem;
      opacity: 50%;
    }
  }

  &.error .input-line {
    border-color: var(--ion-color-danger);
  }

  .input-line {
    display: flex;
    width: 100%;
    border: 1px solid var(--ion-color-neutral-400);
    border-radius: 8px;

    &:focus-within {
      border-color: var(--ion-color-neutral-700);
    }

    .input-wrapper {
      justify-content: center;
    }

    ion-input {
      --padding-top: 0.875rem;
      --padding-bottom: 0.875rem;
      --padding-start: 1.25rem;
      --ion-item-border-color: var(--ion-color-neutral-400);
      min-height: 3.125rem;

      .label-text-wrapper {
        display: none;
      }
    }

    ion-button {
      width: 2rem;
      height: 2rem;
      margin: auto 0.5rem;
      border-radius: 1.5rem;
      --background: transparent;
      --background-activated: var(--ion-color-neutral-400);
      --box-shadow: none;

      &::part(native) {
        padding: 0;
      }

      ion-icon {
        font-size: 1.85em;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    ion-label[position="stacked"] {
      font-size: 0.8rem;
      line-height: 1rem;
    }

    .input-line {
      height: 2.725rem;

      ion-input {
        --padding-top: 0.35rem;
        --padding-bottom: 0.35rem;
        --padding-start: 0.8rem;
        min-height: 2.5rem;
        font-size: 0.8rem;

        .native-wrapper {
          flex-grow: 0;
        }
      }

      ion-button ion-icon {
        font-size: 1rem;
      }
    }
  }
}
