.generate-seed-phrase {
  .scrollable-page-content {
    .seed-phrase-module {
      ion-chip {
        pointer-events: none;
      }
    }

    .mnemonic-length-segment {
      margin-bottom: 0.94rem;
    }

    .terms-and-conditions {
      display: flex;
      flex-direction: row;

      ion-checkbox {
        display: flex;
        --size: 2rem;
        --checkbox-background-checked: var(--ion-color-primary-700);
        --checkmark-color: var(--ion-color-primary-100);
        --border-radius: 0.25rem;
        margin-right: 1.06rem;

        &.checkbox-checked {
          --border-color-checked: var(--checkbox-background-checked);
        }

        @media screen and (min-height: 300px) and (max-height: 600px) {
          --size: 1.75rem;
          margin-right: 0.8rem;
        }
      }

      p,
      u {
        color: var(--ion-color-neutral-700);
        text-wrap: wrap;
      }
    }
  }

  .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }
}

.terms-and-conditions-body {
  p b {
    margin-right: 0.35rem;
    margin-left: 1rem;
  }
}
