.generate-seedphrase {
  ion-title h2 {
    margin: 0 auto;
  }

  ion-segment {
    --background: var(--ion-color-dark-grey);

    ion-segment-button.segment-button-checked {
      &::part(indicator-background) {
        background: var(--ion-color-primary-gradient);
      }
    }
  }

  ion-card {
    position: relative;
    border: 1px solid var(--ion-color-dark-grey);
    border-radius: 1rem;
    --background: var(--ion-color-light-grey);
    box-shadow: none;
  }

  .overlay {
    &.visible {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      text-align: center;
      background: rgba(var(--ion-color-primary-rgb), 0.65);
    }

    &.hidden {
      display: none;
    }

    ion-card-header {
      padding: 0 0 0.7rem;
      ion-icon {
        height: 1.4rem;
        width: 1.4rem;
      }
    }

    ion-card-content {
      padding-inline: 1rem;
    }

    ion-button {
      color: var(--ion-color-light);
      --border-color: var(--ion-color-light);
      margin: 0 auto;
    }
  }

  .seed-phrase-container {
    &.seed-phrase-visible {
      filter: none;
    }

    &.seed-phrase-blurred {
      filter: blur(5px);
    }

    &.restore {
      ion-chip {
        &.empty {
          --background: transparent;
          border: 1px dashed var(--ion-color-dark-grey);
        }

        &.full {
        }

        &:focus-within {
          border: 1px solid var(--ion-color-secondary);
        }
      }
    }
  }

  ion-card,
  ion-card p,
  ion-icon {
    color: var(--ion-color-light);
    margin: 0;
  }

  ion-item::part(native) {
    padding: 0;
  }

  ion-checkbox {
    --size: 32px;
    --background-checked: transparent;
    --checkmark-color: var(--ion-color-primary);
    --border-radius: 4px;
  }

  .termsandconditions-label {
    font-size: 1rem !important;
    margin: 0 !important;
    position: absolute;
    z-index: 2;
  }
}
