.share-qr-modal {
  ion-toolbar {
    margin: 0.625rem auto;

    h2 {
      text-align: left;
    }

    .refresh-button {
      --background: var(--ion-color-light-grey);
      width: 2.8125rem;
      height: 2.8125rem;

      ion-icon {
        width: 1.9375rem;
        height: 1.9375rem;
      }
    }
  }

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
  }

  ion-col {
    display: flex;
    flex-direction: column;
  }

  ion-button,
  ion-button.md {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0;
    --background: transparent;
    --box-shadow: none;
    --color: var(--ion-color-secondary);
    --background-activated: var(--ion-color-light-grey);

    &::part(native) {
      padding: 0;
    }
  }

  ion-icon {
    width: 1.475rem;
    height: 1.475rem;
    margin: 0;
  }

  #react-qrcode-logo {
    padding: 1.5rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
  }

  .share-qr-modal-blur-overlay-container {
    position: absolute;
    left: calc(50% - (16.875rem / 2));
    height: 16.875rem;
    width: 16.875rem;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(54, 60, 74, 0.2);

    .share-qr-modal-blur-overlay-inner {
      display: none;
    }
  }

  .hide {
    #react-qrcode-logo {
      filter: blur(7.5px);
      opacity: 0.3;
    }

    .share-qr-modal-blur-overlay-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      ion-icon {
        width: 5rem;
        height: 5rem;
        opacity: 1;
        text-align: center;
        margin: 0 auto;
      }
    }

    .share-qr-modal-info-block-data {
      letter-spacing: 0.3125rem;
    }
  }

  .share-qr-modal-divider {
    display: flex;
    margin: 1.56rem auto;

    .share-qr-modal-divider-line {
      border-bottom: 1px solid var(--ion-color-dark-grey);
      display: flex;
      flex-grow: 2;
      margin-bottom: 0.5rem;
    }
    .share-qr-modal-divider-text {
      margin-inline: 0.5rem;
    }
  }

  .share-qr-modal-content {
    margin-top: 1.56rem;
  }

  .share-qr-modal-info-block {
    margin-inline: calc((100% - 270px) / 2);

    h3 {
      margin-top: 1.56rem;
      margin-bottom: 0.63rem;
      text-align: center;
    }
    .share-qr-modal-info-block-inner {
      display: flex;
      flex-direction: column;
      background-color: white;
      color: var(--ion-color-secondary);
      border-radius: 1.875rem;
      padding: 0.7rem 1.3rem;

      .share-qr-modal-info-block-line {
        display: flex;

        .share-qr-modal-info-block-data {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      ion-button,
      ion-button.md {
        width: 1.8125rem;
        height: 1.8125rem;
        margin: 0;
        --background: transparent;
        --box-shadow: none;
        --color: var(--ion-color-secondary);
        --background-activated: var(--ion-color-light-grey);

        &::part(native) {
          padding: 0;
        }
      }

      ion-icon {
        width: 1.375rem;
        height: 1.375rem;
        margin: 0;
      }
    }
  }

  .share-qr-modal-option {
    display: flex;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
