.share-qr-modal {
  & .responsive-modal-content.share-qr-modal-content {
    ion-header.page-header {
      & ion-buttons.buttons-last-slot {
        width: 10%;
      }

      & ion-buttons.buttons-first-slot {
        width: 10%;
      }
    }
  }

  .share-modal-content {
    margin-bottom: 0 !important;
  }

  .share-qr-code {
    .qr-content {
      margin-bottom: 1.5rem;
    }
  }

  ion-grid,
  ion-row,
  ion-col {
    padding: 0;
  }

  ion-col {
    display: flex;
    flex-direction: column;
  }

  ion-button,
  ion-button.md {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0;
    --background: transparent;
    --box-shadow: none;
    --color: var(--ion-color-secondary);
    --background-activated: var(--ion-color-light-grey);

    &::part(native) {
      padding: 0;
    }
  }

  ion-icon {
    width: 1.475rem;
    height: 1.475rem;
    margin: 0;
  }

  #react-qrcode-logo {
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    width: 100% !important;
    height: 100% !important;
    padding: 1.5rem;
  }

  .share-qr-modal-blur-overlay-container {
    position: relative;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(54, 60, 74, 0.2);
    width: 70vw !important;
    height: 70vw !important;

    margin-bottom: 1rem;

    .share-qr-modal-blur-overlay-inner {
      display: none;
    }
  }

  .hide {
    #react-qrcode-logo {
      filter: blur(7.5px);
      opacity: 0.3;
    }

    .share-qr-modal-blur-overlay-inner {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      ion-icon {
        width: 5rem;
        height: 5rem;
        opacity: 1;
        text-align: center;
        margin: 0 auto;
      }
    }

    .share-qr-modal-info-block-data {
      letter-spacing: 0.3125rem;
    }
  }

  .qr-infos {
    width: 70vw;
    margin: auto;
  }

  .share-qr-modal-divider {
    display: flex;
    margin: 0.5rem auto;

    .share-qr-modal-divider-line {
      border-bottom: 1px solid var(--ion-color-dark-grey);
      display: flex;
      flex-grow: 2;
      margin-bottom: 0.4rem;
    }
    .share-qr-modal-divider-text {
      margin-inline: 0.5rem;
    }
  }

  .share-qr-modal-info-block {
    h3 {
      margin-top: 1.56rem;
      margin-bottom: 0.63rem;
      text-align: center;
    }
    .share-qr-modal-info-block-inner {
      display: flex;
      flex-direction: column;
      background-color: white;
      color: var(--ion-color-secondary);
      border-radius: 1.875rem;
      padding: 0.7rem 1.3rem;

      .share-qr-modal-info-block-line {
        display: flex;

        .share-qr-modal-info-block-data {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      ion-button,
      ion-button.md {
        width: 1.8125rem;
        height: 1.8125rem;
        margin: 0;
        --background: transparent;
        --box-shadow: none;
        --color: var(--ion-color-secondary);
        --background-activated: var(--ion-color-light-grey);

        &::part(native) {
          padding: 0;
        }
      }

      ion-icon {
        width: 1.375rem;
        height: 1.375rem;
        margin: 0;
      }
    }
  }

  .share-qr-modal-option {
    display: flex;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    #react-qrcode-logo {
      padding: 1.2rem;
    }

    .share-qr-modal-info-block {
      .share-qr-modal-info-block-inner {
        padding: 0.5rem 1rem;
        .share-qr-modal-info-block-line {
          .share-qr-modal-info-block-data {
            font-size: 0.8rem;
          }
        }
      }
    }

    .share-qr-modal-divider {
      .share-qr-modal-divider-text {
        font-size: 0.8rem;
      }
    }
  }
}
