.crypto-tab {
}

.my-wallets {
  .my-wallets-footer {
    position: fixed;
    left: 0;
    bottom: 1.88rem;
    width: 100%;
    padding-inline: 1.25rem;
  }
}

.add-crypto-account {
  ion-title {
    text-align: left;
  }

  margin-top: 0.5rem;

  ion-col {
    display: flex;
    flex-direction: column;
  }

  ion-button,
  ion-button.md {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0;
    --background: transparent;
    --box-shadow: none;
    --color: var(--ion-color-secondary);
    --background-activated: var(--color-light-grey);

    &::part(native) {
      padding: 0;
    }
  }

  ion-icon {
    width: 1.475rem;
    height: 1.475rem;
    margin: 0;
  }

  .add-crypto-account-option {
    display: flex;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.choose-account-name {
  .ion-primary-button {
    margin-top: 1.5rem;
  }
}
