.connection-details {
  ion-toolbar ion-buttons {
    ion-button {
      color: var(--ion-color-secondary);
      --opacity: 1;
    }

    .action-button {
      background: white;
    }

    .close-button-label,
    .close-button-label.md {
      font-size: 1rem;
    }
  }

  .connection-details-content {
    & > * {
      margin: 1.56rem 0 1rem;
    }

    .connection-details-header {
      display: flex;
      flex-direction: column;

      & > * {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .connection-details-logo {
      margin-bottom: 0.94rem;

      img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 2.75rem;
      }
    }

    .connection-details-issuer {
      font-size: 1.5rem;
      color: var(--ion-color-primary);
      font-weight: 700;
      line-height: 1.375rem;
      margin-bottom: 0.5rem;
    }

    .connection-details-date {
      font-size: 1rem;
      color: var(--ion-color-secondary);
      font-weight: 500;
    }
  }

  .connection-details-info-block {
    color: var(--ion-color-secondary);

    h3 {
      margin: 0.63rem 0.938rem;
      font-weight: 500;
      line-height: 1.375rem;
      color: var(--ion-color-secondary);
    }

    .connection-details-info-block-inner {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 1rem;
      padding: 0.938rem;
      margin-bottom: 0.63rem;

      .connection-details-info-block-line {
        display: flex;
        flex-direction: column;

        > * {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .connection-details-info-block-data {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: 500;
        }

        .connection-details-info-block-note {
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.375rem;
          margin-top: 0.63rem;
        }
      }
    }
  }

  .delete-button {
    ion-icon {
      margin-right: 0.5rem;
      --ion-color-base: white !important;
    }
  }
}
