.connection-details {
  z-index: 300 !important;
  background: var(--ion-color-light-grey);

  &.show {
    bottom: 0;
    top: 0;
    width: 100%;
    transition-property: bottom;
    transition-property: top;
    transition-duration: 1s;
  }

  &.hide {
    bottom: -100%;
    top: 100%;
    width: 100%;
    transition-property: bottom;
    transition-property: top;
    transition-duration: 1s;
  }

  ion-header ion-toolbar {
    ion-title {
      width: 3rem;
    }

    ion-button,
    ion-button.md {
      background: var(--ion-color-light);
    }
  }

  .connection-details-content {
    & > * {
      margin: 1.56rem 0 1rem;
    }

    .connection-details-header {
      display: flex;
      flex-direction: column;

      & > * {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .connection-details-logo {
      margin-bottom: 0.94rem;

      img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 2.75rem;
      }
    }

    .connection-details-issuer {
      font-size: 1.5rem;
      color: var(--ion-color-primary);
      font-weight: 700;
      line-height: 1.375rem;
      margin-bottom: 0.5rem;
    }

    .connection-details-date {
      font-size: 1rem;
      color: var(--ion-color-secondary);
      font-weight: 500;
      line-height: 1.375rem;
    }
  }

  .connection-details-info-block {
    h3 {
      margin: 0.938rem;
      font-weight: 500;
    }
    .connection-details-info-block-inner {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 1rem;
      padding: 0.938rem;

      .connection-details-info-block-line {
        display: flex;

        > * {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .connection-details-info-block-data {
          flex-grow: 1;
          margin-left: 0.312rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  .delete-button {
    ion-icon {
      margin-right: 0.5rem;
      --ion-color-base: white !important;
    }
  }
}
