.connection-instructions {
  .page-header {
    ion-toolbar {
      --background: transparent;
      margin-top: 0.625rem;
    }
  }

  .connection-instructions-body {
    margin: 1.5rem 0;

    h3 {
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
    }

    p {
      line-height: 1.5rem;
      margin: 0 0 1rem;
    }

    .steps .card-details-info-block-inner {
      padding: 1.25rem;

      box-shadow: 0.25rem 0.25rem 0.5rem 0
        rgba(var(--ion-color-neutral-500-rgb), 0.2);
      ol {
        margin: 0;
        padding-inline-start: 1.25rem;

        li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      @media screen and (min-width: 250px) and (max-width: 370px) {
        ol {
          li {
            font-size: 0.8rem;

            &:not(:last-child) {
              margin-bottom: 0.75rem;
            }
          }
        }
      }
    }
  }

  .page-footer {
    padding: 1rem 0;
    margin-bottom: 1rem;

    ion-button {
      direction: rtl;

      ion-icon {
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}
