body {
  background-color: #787a83;
  color: whitesmoke;
}

#reader {
  margin: 0 auto;
}

.scannerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section,
.lockMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner-button {
  border: 2px solid floralwhite;
  border-top: 2px solid whitesmoke;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

.resolve-button {
  width: 210px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
