.app-table {
  .MuiTableHead-root {
    background-color: var(--color-primary-200);

    th {
      line-height: normal;
    }

    tr th {
      font-weight: 700;

      .table-header-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(100vw / 6);
      }

      .check-all:not(.Mui-checked) {
        .custom-icon {
          background-color: var(--color-neutral-100);
          border: 2.5px solid var(--color-neutral-500);
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 0.2rem;
          margin: 0.2rem;
        }
      }
    }

    .MuiTableCell-head:last-of-type {
      width: 2rem;
    }
  }

  .MuiTableBody-root {
    th,
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100vw / 6);
    }
  }

  tr {
    height: 3.25rem;

    & > :first-child:not(.MuiTableCell-paddingCheckbox) {
      padding-left: 1.5rem;
    }

    &.Mui-selected {
      background-color: var(--color-neutral-100);
    }

    th,
    td {
      font-weight: 500;
      padding: 0.38rem;
    }
  }

  .MuiTableContainer-root {
    background-color: var(--color-neutral-100);
    border-radius: 0.75rem;
    box-shadow: 0.25rem 0.25rem 1.25rem 0rem rgba(var(--text-color-rgb), 0.16);
  }

  .MuiTablePagination-actions button {
    &:hover {
      background-color: var(--color-neutral-100);
    }
  }
}
