.connect-wallet-stage-one {
  &.animation-on {
    .request-animation-center {
      .wallet-connect-message {
        animation: scaleIcon 0.25s forwards;
        animation-direction: reverse;
      }

      .request-icons-row {
        .request-user-logo {
          animation: scaleIcon 0.25s forwards;
          animation-direction: reverse;
        }

        .request-checkmark-logo {
          animation-delay: 0.25s;
          animation: scaleIcon 0.5s forwards;
        }
      }
    }

    .request-footer {
      animation: fade 0.5s forwards;
    }

    @keyframes scaleIcon {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    @keyframes fade {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }

  .responsive-page-content {
    --buttons-height: 7.5rem;
    justify-content: space-between;
    height: 100%;

    .request-animation-center {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .request-icons-row {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        .request-user-logo {
          width: 4.875rem;
          height: 4.875rem;

          & > ion-icon {
            width: 100%;
            height: 100%;
          }
        }

        .request-checkmark-logo {
          width: 4.875rem;
          height: 4.875rem;
          position: absolute;
          transform: scale(0);
          opacity: 0;

          span {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: var(--ion-color-primary-gradient);
            margin: 0 auto;

            & > ion-icon {
              width: 50%;
              height: 50%;
            }
          }
        }

        @media screen and (min-width: 250px) and (max-width: 370px) {
          .request-user-logo {
            width: 3.5rem;
            height: 3.5rem;
          }

          .request-checkmark-logo {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }

      .wallet-connect-message {
        text-align: center;
        margin: 0;
      }
    }
  }
}

.wallet-connect-stage-two {
  .responsive-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 1rem;
      line-height: 1.115rem;
      margin-top: 0.75rem;
      margin-bottom: 1.75rem;
      font-weight: 500;
      text-align: center;
    }

    .identifier-list {
      .checkbox {
        width: fit-content;
        --checkbox-background-checked: var(--ion-color-primary-gradient);
        --checkmark-color: var(--ion-color-primary);
        --border-width: 0.115rem;

        &.checkbox-checked {
          --border-width: 0;
        }
      }

      .card-item {
        --background-activated: transparent;
      }
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      .title {
        font-size: 0.85rem;
        margin-bottom: 1.5rem;
      }

      .checkbox {
        --size: 1.25rem;
      }
    }
  }
}
