.card-switch-view {
  .list-header {
    margin-bottom: 0.875rem;
  }
}

.card-switch-view-list {
  &.card-list {
    .card-fallback-logo {
      --display-fallback: none;
    }

    .card-item {
      &:last-child {
        --inner-border-width: 0;
      }
    }
  }
}
