.system-threat-alert-page {
  .alert-container {
    text-align: center;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .title {
    color: var(--ion-color-neutral-800);
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .description {
    color: var(--ion-color-neutral-700);
    margin-top: 1rem;
    font-size: 1rem;
  }

  .system-threats {
    width: 100%;
    margin-top: 1.5rem;
  }

  .warning-icon {
    font-size: 3.25rem;
    color: var(--ion-color-danger);
  }

  .init-error {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-neutral-700);
    font-weight: 400;
  }

  .accordion-group {
    --ion-background-color: var(--ion-color-neutral-100);
    margin-bottom: 0;

    .accordion {
      border-radius: 1rem;
      padding: 0.75rem 0;

      ion-item {
        &.threat-header {
          font-weight: 500;
          --ripple-color: transparent;
          --background-activated: transparent;
          --background-activated-opacity: 0;
          --background-focused: transparent;
          --background-focused-opacity: 0;
          --background-hover: transparent;
          --background-hover-opacity: 0;
          --color: var(--ion-color-neutral-700);
          --color-activated: var(--ion-color-neutral-700);
          --color-focused: var(--ion-color-neutral-700);

          ion-icon {
            margin: 0 0 0 1rem;
            width: 1rem;
            height: 1rem;
            color: var(--color-neutral-400) !important;
          }

          .threat-header-content {
            display: flex;
            align-items: center;
            width: 100%;
          }

          .threat-name {
            color: var(--ion-color-neutral-700);
            font-weight: 500;
            font-size: 1rem;
          }

          &:active {
            --background: transparent;
            --color: var(--ion-color-neutral-700);
          }
        }
      }

      .threat-content {
        text-align: left;
        padding: 0 1rem;
      }

      .threat-description {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }

  .info-card {
    background-color: rgba(var(--ion-color-warning-800-rgb), 0.1);
    margin: 1.5rem 0;

    p {
      text-align: left;
    }

    ion-icon {
      color: var(--ion-color-warning-800);
    }
  }

  .help-button {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem 1rem 1.25rem;
    background: linear-gradient(
        0deg,
        var(--color-primary-700, #0056b3),
        var(--color-primary-700, #0056b3)
      ),
      radial-gradient(
        1.86% 150% at 50% 50%,
        rgba(0, 86, 179, 0.2) 50%,
        rgba(0, 86, 179, 0.2) 50%
      );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-neutral-100, #f9fafb);

    .help-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
}
